.overview-page {


/* Menu Tabs */


.btn_variety .cls-1 {fill:#429fbf;}
.btn_variety .cls-2 {fill:#1776b3;}
.btn_variety .cls-3, .btn_variety .cls-4 {fill:#368eb2;}
.btn_variety .cls-4 {opacity:0.01;}
.btn_variety .cls-5 {fill:#1288be;}

.btn_variety.active .cls-1,
.btn_variety.active .cls-2,
.btn_variety.active .cls-3,
.btn_variety.active .cls-4,
.btn_variety.active .cls-5 {fill:#ffffff;}

.btn_visibility .cls-1{fill:#1189be;}
.btn_visibility .cls-2{fill:#429fbf;}
.btn_visibility .cls-3{fill:#1776b3;}
.btn_visibility .cls-4, .btn_visibility .cls-5 {fill:#368eb2;}
.btn_visibility .cls-5{opacity:0.01;}

.btn_visibility.active .cls-1,
.btn_visibility.active .cls-2,
.btn_visibility.active .cls-3,
.btn_visibility.active .cls-4,
.btn_visibility.active .cls-5 {fill:#ffffff;}


.btn_value .cls-1 {fill:#1288be;}
.btn_value .cls-2 {fill:#429fbf;}
.btn_value .cls-3 {fill:#1776b3;}
.btn_value .cls-4, .btn_value .cls-5 {fill:#368eb2;}
.btn_value .cls-5 {opacity:0.01;}

.btn_value.active .cls-1,
.btn_value.active .cls-2,
.btn_value.active .cls-3,
.btn_value.active .cls-4,
.btn_value.active .cls-5 {fill:#ffffff;}



.btn_excecution .cls-1{fill:none;}
.btn_excecution .cls-2{fill:#1288be;}
.btn_excecution .cls-3{fill:#429fbf;}
.btn_excecution .cls-4{fill:#1776b3;}
.btn_excecution .cls-5, .btn_excecution .cls-6 {fill:#368eb2;}
.btn_excecution .cls-6{opacity:0.01;isolation:isolate;}
.btn_excecution .cls-7{fill:#e5df00;}






.btn_excecution.active .cls-2,
.btn_excecution.active .cls-3,
.btn_excecution.active .cls-4,
.btn_excecution.active .cls-5 {fill:#ffffff;}







button.overview-button {

    font-family: Futura-Medium;
    font-size: 26px;
    line-height: 16px;
    color: $pepsico-brightblue;

    background: transparent;

//    background-color: white;
    }

button.overview-button.active {
    color: white;
    background: transparent;
//    background-color: $pepsico-brightblue;
    }

.description {
  color:white;
  background: transparent;
  margin: 0 auto;
  padding-left:72px;
  margin-top: 50px;
  }

.description h2, {
  font-family: Futura-bold;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: white;
  }

.description ul {
  font-family: Futura-medium;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  color: white;
  list-style: none;
  }




.btn_variety {

  margin-top:20px;
}

.btn_visibility, .btn_value {

  margin-top:20px;
  margin-left:10px;
  margin-right:10px;
}


.btn_excecution {
  margin-top:20px;
}

.btn_value svg,
.btn_visibility svg,
.btn_variety svg,
.btn_excecution svg {
  width:130px;
}

.circle {
               border-radius: 50%;
               display: inline-block;
               margin-right: 20px;
}

#element1 {
               width: 15px;
               height: 15px;
               margin-left:410px;

}

#element2 {
               width: 15px;
               height: 15px;
}

#element3 {
               width: 15px;
               height: 15px;
}

#element4 {
               width: 15px;
               height: 15px;
               position: relative;


}

}





