.casual-page-FR {

.snackracktopper {left: 875px; top: 255px;}
.valuetakeout01 {left: 630px; top: 280px;}
.innovationwindow {left: 742px; top: 167px;}
.staffsuggestion {left: 275px; top: 215px;}
.staffsuggestion-takeout {left: 880px; top: 260px;}


.featurechalkboard {left: 650px; top: 150px;}
.perfectparings {left: 160px; top: 230px;}
.perfectparings-takeout {left: 655px; top: 215px;}
.menuboards {left: 890px; top: 120px;}

.menu {left: 320px; top: 290px;}
.menupresence {left: 320px; top: 290px;}
.tabletent {left: 270px; top: 270px;}

.visibilitytakeout03 {left: 610px; top: 270px;}

.fritosnackrack {left: 610px; top: 270px;}
.beveragecooler {left: 750px; top: 220px;}


background-color: $pepsico-lightblueoffwhite;

/* Environment views section */


.environment-view-casual-dining-value {width:434px;}
.environment-view-casual-takeout-value {width: 434px; margin-left:16px;}
.environment-view-casual-dining-visibility {width:434px;}
.environment-view-casual-takeout-visibility {width: 434px; margin-left:16px;}
.environment-view-casual-dining-variety {width:434px;}
.environment-view-casual-takeout-variety {width: 434px; margin-left:16px;}



.imgHolder-casual-dining-value,
.imgHolder-casual-dining-visibility,
.imgHolder-casual-dining-variety,
.imgHolder-casual-takeout-value,
.imgHolder-casual-takeout-visibility,
.imgHolder-casual-takeout-variety {
    overflow:hidden;
    height:354px;
    position:relative;
    }

.imgHolder-casual-dining-value, .imgHolder-casual-dining-visibility, .imgHolder-casual-dining-variety {width:450px;}
.imgHolder-casual-takeout-value, .imgHolder-casual-takeout-visibility, .imgHolder-casual-takeout-variety {width:450px;}

.casual-dining-value,
.casual-takeout-value,
.casual-dining-visibility,
.casual-takeout-visibility,
.casual-dining-variety,
.casual-takeout-variety {
    width:777px;
    height:400px;
    display:block;
    position:relative;
    z-index:1;
    overflow:hidden;
    }

.casual-dining-value,
.casual-dining-visibility,
.casual-dining-variety {
    left:-90px;
    }
.casual-takeout-value,
.casual-takeout-visibility,
.casual-takeout-variety {
    left:-150px;
    }

.casual-dining-value img,
.casual-takeout-value img,
.casual-dining-visibility img,
.casual-takeout-visibility img,
.casual-dining-variety img,
.casual-takeout-variety img {
    z-index:2;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    }


}




