.cafeteria-breakfast-page-FR {

.btn-bullseye {position: absolute; z-index: 2;}

.value01 {left: 630px; top: 300px;}
.value02 {left: 740px; top: 330px;}

.variety01 {left: 630px; top: 300px;}
.variety02 {left: 740px; top: 330px;}

.visibility01 {left: 530px; top: 300px;}
.visibility012 {left: 590px; top: 160px;}
.visibility02 {left: 630px; top: 345px;}
.visibility03 {left: 740px; top: 330px;}

background-color: $pepsico-lightblueoffwhite;

/* Environment views section */

.environment-view-cafeteria-breakfast-int-value {width:900px;}
.environment-view-cafeteria-breakfast-ext-value {width: 0px; margin-left:0;}
.environment-view-cafeteria-breakfast-int-visibility {width:900px;}
.environment-view-cafeteria-breakfast-ext-visibility {width: 0px; margin-left:0;}
.environment-view-cafeteria-breakfast-int-variety {width:900px;}
.environment-view-cafeteria-breakfast-ext-variety {width: 0px; margin-left:0;}

.imgHolder-cafeteria-breakfast-int-value,
.imgHolder-cafeteria-breakfast-int-visibility,
.imgHolder-cafeteria-breakfast-int-variety,
.imgHolder-cafeteria-breakfast-ext-value,
.imgHolder-cafeteria-breakfast-ext-visibility,
.imgHolder-cafeteria-breakfast-ext-variety {
    overflow:hidden;
    height:354px;
    position:relative;
    }

.imgHolder-cafeteria-breakfast-int-value, .imgHolder-cafeteria-breakfast-int-visibility, .imgHolder-cafeteria-breakfast-int-variety {width:900px;}
.imgHolder-cafeteria-breakfast-ext-value, .imgHolder-cafeteria-breakfast-ext-visibility, .imgHolder-cafeteria-breakfast-ext-variety {width:0px;}

.cafeteria-breakfast-int-value,
.cafeteria-breakfast-ext-value,
.cafeteria-breakfast-int-visibility,
.cafeteria-breakfast-ext-visibility,
.cafeteria-breakfast-int-variety,
.cafeteria-breakfast-ext-variety {
  top: 0px;
  height:600px;
  width:900px;
  display:block;
  position:relative;
  z-index:1;
  overflow:hidden;
    }

.cafeteria-breakfast-int-value img,
.cafeteria-breakfast-ext-value img,
.cafeteria-breakfast-int-visibility img,
.cafeteria-breakfast-ext-visibility img,
.cafeteria-breakfast-int-variety img,
.cafeteria-breakfast-ext-variety img {
    z-index:2;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    }


/* Variety */
.quakerrack ul {line-height: 1.2em; font-size: .9em; padding-top:30px;}
.iqorack ul {line-height: 1.2em;font-size: .9em; padding-top:40px;}
.variety02 ul {line-height: 1.4em;font-size: .9em;}

/* Visibility */
.visibility01 ul {line-height: 1.6em;font-size: .9em; padding-top:10px;}
.quakerflavourcards ul {line-height: 1.4em;font-size: .9em; padding-top:10px;}
.slider-section-copy.breakfastpos ul {font-family: Roboto; line-height: 1.0em;font-size: .8em; padding-top:20px;}
.slider-section-copy.breakfastpos h2 {font-family: Roboto; font-size: 1.0em;}
.variety02cling ul {line-height: 1.2em;font-size: .9em; padding-top:20px;}

/* Value */
.quakerseasonalflavours ul {line-height: 1.2em;font-size: .9em; padding-top:40px;}
.premiumproducts ul {line-height: 1.4em;font-size: .9em; padding-top:20px;}


}






