<ion-grid class="chart-casual-page"><!-- side menu -->
    <ion-row>
        <div class="shadow" style="width:72px; height:768px; margin-right: 32px; background: white;" >
          <button menuToggle class="menutoggle" style="margin-left:14px; margin-top:24px; background:none;">
            <svg height="32px" id="Layer_1" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"/>
            </svg>
          </button>
        </div><!-- side menu -->

        <div style="width:884px;" >
          <ion-row>
            <ion-col col-6 class="title-header">CASUAL TAKE-OUT</ion-col>
            <ion-col col-6 no-padding >
                <button [class.active]="type === 't'" class="shadow easing segment-chart-button" title="" (click)="type = 't'; view = 'trade-food'" >T</button>
                <button [class.active]="type === 'r'" class="shadow easing segment-chart-button" title="" (click)="type = 'r'; view = 'right-food'" >R</button>
                <button [class.active]="type === 'a'" class="shadow easing segment-chart-button" title="" (click)="type = 'a'; view = 'accelerate-food'" >A</button>
                <button [class.active]="type === 'h'" class="shadow easing segment-chart-button" title="" (click)="type = 'h'; view = 'healthy-food'" >H</button>
                <button [class.active]="type === 'c'" class="shadow easing segment-chart-button" title="" (click)="type = 'c'; view = 'core-food'" >C</button>
            </ion-col>
          </ion-row>

          <ion-row>
                <div
                  [class.environment-view-casual-trade]="type === 't'"
                  [class.environment-view-casual-right]="type === 'r'"
                  [class.environment-view-casual-accelerate]="type === 'a'"
                  [class.environment-view-casual-healthy]="type === 'h'"
                  [class.environment-view-casual-core]="type === 'c'"
                  class="shadow easing" >
                  <div
                    [class.imgHolder-casual-trade]="type === 't'"
                    [class.imgHolder-casual-right]="type === 'r'"
                    [class.imgHolder-casual-accelerate]="type === 'a'"
                    [class.imgHolder-casual-healthy]="type === 'h'"
                    [class.imgHolder-casual-core]="type === 'c'"
                    class="easing" >
                    <div
                      [class.casual-trade]="type === 't'"
                      [class.casual-right]="type === 'r'"
                      [class.casual-accelerate]="type === 'a'"
                      [class.casual-healthy]="type === 'h'"
                      [class.casual-core]="type === 'c'"
                      class="easing" >

                      <img src="assets/img/CHART/Casual/CHART_Casual.jpg" />

                      <div *ngIf="view === 'core-beverage'" style="z-index:1;"><img [class.fade-in]="view === 'core-beverage'" onload="this.style.opacity='1';" src="assets/img/CHART/Casual/C/Take_Out_1C_02.png" /></div>
                      <div *ngIf="view === 'core-food'" style="z-index:1;"><img [class.fade-in]="view === 'core-food'" onload="this.style.opacity='1';" src="assets/img/CHART/Casual/C/Take_Out_1C_01.png" /></div>

                      <div *ngIf="view === 'healthy-beverage'" style="z-index:1;"><img [class.fade-in]="view === 'healthy-beverage'" onload="this.style.opacity='1';" src="assets/img/CHART/Casual/H/Take_Out_2H_02.png" /></div>
                      <div *ngIf="view === 'healthy-food'" style="z-index:1;"><img [class.fade-in]="view === 'healthy-food'" onload="this.style.opacity='1';" src="assets/img/CHART/Casual/H/Take_Out_2H_01.png" /></div>

                      <div *ngIf="view === 'accelerate-beverage'" style="z-index:1;"><img [class.fade-in]="view === 'accelerate-beverage'" onload="this.style.opacity='1';" src="assets/img/CHART/Casual/A/Take_Out_3A_02.png" /></div>
                      <div *ngIf="view === 'accelerate-food'" style="z-index:1;"><img [class.fade-in]="view === 'accelerate-food'" onload="this.style.opacity='1';" src="assets/img/CHART/Casual/A/Take_Out_3A_01.png" /></div>
                      <div *ngIf="view === 'accelerate-food-2'" style="z-index:1;"><img [class.fade-in]="view === 'accelerate-food-2'" onload="this.style.opacity='1';" src="assets/img/CHART/Casual/A/Take_Out_3A_03.png" /></div>


                      <div *ngIf="view === 'right-beverage'" style="z-index:1;"><img [class.fade-in]="view === 'right-beverage'" onload="this.style.opacity='1';" src="assets/img/CHART/Casual/R/Take_Out_4R_02.png" /></div>
                      <div *ngIf="view === 'right-food'" style="z-index:1;"><img [class.fade-in]="view === 'right-food'" onload="this.style.opacity='1';" src="assets/img/CHART/Casual/R/Take_Out_4R_01.png" /></div>

                      <div *ngIf="view === 'trade-beverage'" style="z-index:1;"><img [class.fade-in]="view === 'trade-beverage'" onload="this.style.opacity='1';" src="assets/img/CHART/Casual/T/Take_Out_5T_01.png" /></div>
                      <div *ngIf="view === 'trade-food'" style="z-index:1;"><img [class.fade-in]="view === 'trade-food'" onload="this.style.opacity='1';" src="assets/img/CHART/Casual/T/Take_Out_5T_02.png" /></div>

                    </div>
                  </div>
                  <div class="title-box">CASUAL TAKE-OUT</div>
                </div>

            <div [ngSwitch]="type">
              <div *ngSwitchCase="'t'">
                      <button [class.active]="view === 'trade-beverage'" class="btn-bullseye trade-beverage" title=""  (click)="view = 'trade-beverage'"><svg><circle class="st1" cx="18" cy="18" r="15.75"/><circle class="st2" cx="18" cy="18" r="6.3"/><circle class="st3" cx="18" cy="18" r="14.4"/><circle class="st4" cx="18" cy="18" r="9.5"/></svg></button>
                      <button [class.active]="view === 'trade-food'" class="btn-bullseye trade-food" title=""  (click)="view = 'trade-food'"><svg><circle class="st1" cx="18" cy="18" r="15.75"/><circle class="st2" cx="18" cy="18" r="6.3"/><circle class="st3" cx="18" cy="18" r="14.4"/><circle class="st4" cx="18" cy="18" r="9.5"/></svg></button>
              </div><!-- ngSwitchCase t -->

              <div *ngSwitchCase="'r'">
                      <button [class.active]="view === 'right-beverage'" class="btn-bullseye right-beverage" title=""  (click)="view = 'right-beverage'"><svg><circle class="st1" cx="18" cy="18" r="15.75"/><circle class="st2" cx="18" cy="18" r="6.3"/><circle class="st3" cx="18" cy="18" r="14.4"/><circle class="st4" cx="18" cy="18" r="9.5"/></svg></button>
                      <button [class.active]="view === 'right-food'" class="btn-bullseye right-food" title=""  (click)="view = 'right-food'"><svg><circle class="st1" cx="18" cy="18" r="15.75"/><circle class="st2" cx="18" cy="18" r="6.3"/><circle class="st3" cx="18" cy="18" r="14.4"/><circle class="st4" cx="18" cy="18" r="9.5"/></svg></button>
              </div><!-- ngSwitchCase r -->

              <div *ngSwitchCase="'a'">
                      <button [class.active]="view === 'accelerate-beverage'" class="btn-bullseye accelerate-beverage" title=""  (click)="view = 'accelerate-beverage'"><svg><circle class="st1" cx="18" cy="18" r="15.75"/><circle class="st2" cx="18" cy="18" r="6.3"/><circle class="st3" cx="18" cy="18" r="14.4"/><circle class="st4" cx="18" cy="18" r="9.5"/></svg></button>
                      <button [class.active]="view === 'accelerate-food'" class="btn-bullseye accelerate-food" title="" (click)="view = 'accelerate-food'"><svg><circle class="st1" cx="18" cy="18" r="15.75"/><circle class="st2" cx="18" cy="18" r="6.3"/><circle class="st3" cx="18" cy="18" r="14.4"/><circle class="st4" cx="18" cy="18" r="9.5"/></svg></button>
                      <button [class.active]="view === 'accelerate-food-2'" class="btn-bullseye accelerate-food-2" title="" (click)="view = 'accelerate-food-2'"><svg><circle class="st1" cx="18" cy="18" r="15.75"/><circle class="st2" cx="18" cy="18" r="6.3"/><circle class="st3" cx="18" cy="18" r="14.4"/><circle class="st4" cx="18" cy="18" r="9.5"/></svg></button>
              </div><!-- ngSwitchCase a -->

              <div *ngSwitchCase="'h'">
                      <button [class.active]="view === 'healthy-beverage'" class="btn-bullseye healthy-beverage" title=""  (click)="view = 'healthy-beverage'"><svg><circle class="st1" cx="18" cy="18" r="15.75"/><circle class="st2" cx="18" cy="18" r="6.3"/><circle class="st3" cx="18" cy="18" r="14.4"/><circle class="st4" cx="18" cy="18" r="9.5"/></svg></button>
                      <button [class.active]="view === 'healthy-food'" class="btn-bullseye healthy-food" title="" (click)="view = 'healthy-food'"><svg><circle class="st1" cx="18" cy="18" r="15.75"/><circle class="st2" cx="18" cy="18" r="6.3"/><circle class="st3" cx="18" cy="18" r="14.4"/><circle class="st4" cx="18" cy="18" r="9.5"/></svg></button>
              </div><!-- ngSwitchCase h -->

              <div *ngSwitchCase="'c'">
                      <button [class.active]="view === 'core-beverage'" class="btn-bullseye core-beverage" title=""  (click)="view = 'core-beverage'"><svg><circle class="st1" cx="18" cy="18" r="15.75"/><circle class="st2" cx="18" cy="18" r="6.3"/><circle class="st3" cx="18" cy="18" r="14.4"/><circle class="st4" cx="18" cy="18" r="9.5"/></svg></button>
                      <button [class.active]="view === 'core-food'" class="btn-bullseye core-food" title="" (click)="view = 'core-food'"><svg><circle class="st1" cx="18" cy="18" r="15.75"/><circle class="st2" cx="18" cy="18" r="6.3"/><circle class="st3" cx="18" cy="18" r="14.4"/><circle class="st4" cx="18" cy="18" r="9.5"/></svg></button>
              </div><!-- ngSwitchCase c -->

            </div><!-- ngSwitch type -->



          </ion-row>

          <ion-row>
            <div class="insights shadow"><!-- key facts -->
              <div [ngSwitch]="type">
                  <ion-list *ngSwitchCase="'t'">
                    <h2>Trade Up:</h2>
                     <p>Drive profit, value and new occasions</p>
                  </ion-list>

                 <ion-list *ngSwitchCase="'r'">
                  <h2>Right for your Account:</h2>
                      <p>Understand your customer’s needs so that we are able to provide the right products for their segment</p>
                  </ion-list>

                 <ion-list *ngSwitchCase="'a'">
                  <h2>Accelerate Innovation:</h2>
                    <p>Accelerate sales on our new product launches and LTOs</p>
                  </ion-list>

                 <ion-list *ngSwitchCase="'h'">
                  <h2>Healthy:</h2>
                    <p>Drive visibility on our BFY brands by gaining incremental space</p>
                  </ion-list>

                  <ion-list *ngSwitchCase="'c'">
                    <h2>Core:</h2>
                      <p>Drive volume with our top selling products by executing Neverout POGs</p>
                  </ion-list>


              </div> <!--[ngSwitch]= type for key facts -->

            </div><!-- key insights -->

            <div class="shadow slider-section" style="width: 498px; margin-left: 16px;"><!-- image slider section -->
                  <div [ngSwitch]="view">


<!-- Core -->
                      <div *ngSwitchCase="'core-beverage'">
                        <h3>Beverage</h3>
                        <div class="slider-section-img">
                          <ion-slides pager="true">
                            <ion-slide><img src="assets/img/CHART/Casual/C/GroupOfDrinks.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/CHART/Casual/C/Pepsi Cooler CD12-HC.png" class="slide-image"></ion-slide>
                          </ion-slides>
                        </div>
                        <div class="slider-section-copy">
                            <ul>
                                <li>Place core Pepsi coolers in high traffic areas before cash counter</li>
                                <li>Planograms available on Advantage</li>
                            </ul>
                        </div>
                      </div><!-- *ngSwitchCase core-beverage -->

                      <div *ngSwitchCase="'core-food'">
                        <h3>Frito</h3>
                        <div class="slider-section-img">
                          <ion-slides pager="false">
                            <ion-slide><img src="assets/img/CHART/Casual/C/Big Grab Rack.png" class="slide-image"></ion-slide>
                          </ion-slides>
                        </div>
                        <div class="slider-section-copy">
                            <ul>
                                <li>Place LSS rack at order counter or within 5ft of cash to influence combo purchases</li>
                                <li>Racks can be ordered through our MSO portal and POGs can be found on Advantage</li>
                            </ul>
                        </div>
                      </div><!-- *ngSwitchCase core-food -->

<!-- Healthy -->
                      <div *ngSwitchCase="'healthy-beverage'">
                        <h3>Beverage</h3>
                        <div class="slider-section-img">
                          <ion-slides pager="false">
                            <ion-slide><img src="assets/img/CHART/Casual/H/7714-ARTO-COUNTER-TOP.jpg" class="slide-image"></ion-slide>

                          </ion-slides>
                        </div>
                        <div class="slider-section-copy">
                            <ul>
                                <li>Place ambient racks either at entrance or near cash and use counter units at cash for impulse purchases</li>
                                <li>Leverage open air cooler for Trop, Naked and Kevita</li>
                            </ul>
                        </div>
                      </div><!-- *ngSwitchCase healthy-beverage -->


                      <div *ngSwitchCase="'healthy-food'">
                        <h3>Hello Goodness</h3>
                        <div class="slider-section-img">
                          <ion-slides pager="false">
                            <ion-slide><img src="assets/img/CHART/Casual/H/ww3524 - Hello Goodness NC Display Plano Change.jpg" class="slide-image"></ion-slide>
                          </ion-slides>
                        </div>
                        <div class="slider-section-copy">
                            <ul>
                                <li>Place Hello Goodness rack next to core rack or in Better For You section of account</li>
                                <li>Leverage countertop units for smaller accounts</li>
                                <li>POGs available on Advantage</li>
                            </ul>
                        </div>
                      </div><!-- *ngSwitchCase healthy-food -->


<!-- Accelerate -->
                      <div *ngSwitchCase="'accelerate-beverage'">
                        <h3>Beverage</h3>
                        <div class="slider-section-img">
                          <ion-slides pager="false">
                            <ion-slide><img src="assets/img/CHART/Casual/A/Pepsi Zero Bottle.jpg" class="slide-image"></ion-slide>
                          </ion-slides>
                        </div>
                        <div class="slider-section-copy">
                            <ul>
                                <li>Secure innovation placements as per updated POGs on Advantage</li>
                                <li>Leverage POS tools to drive exposure.  Ordered through our MSO portal</li>
                            </ul>
                        </div>
                      </div><!-- *ngSwitchCase accelerate-beverage -->

                      <div *ngSwitchCase="'accelerate-food'">
                        <h3>Frito</h3>
                        <div class="slider-section-img">
                          <ion-slides pager="false">
                            <ion-slide><img src="assets/img/CHART/Casual/A/Big Grab Rack.png" class="slide-image"></ion-slide>
                          </ion-slides>
                        </div>
                        <div class="slider-section-copy">
                            <ul>
                                <li>Implement side racks to drive Frito innovation when account has limited space</li>
                                <li>Utilize supporting POS ordered through the MSO portal</li>
                            </ul>
                        </div>
                      </div><!-- *ngSwitchCase accelerate-food -->


                      <div *ngSwitchCase="'accelerate-food-2'">
                        <h3>Frito</h3>
                        <div class="slider-section-img">
                          <ion-slides pager="true">
                            <ion-slide><img src="assets/img/CHART/Casual/A/Poppables_SaltVinegar.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/CHART/Casual/A/Generic Counter.jpg" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/CHART/Casual/A/MIV_MSV_Front.jpg" class="slide-image"></ion-slide>
                          </ion-slides>
                        </div>
                        <div class="slider-section-copy">
                            <ul>
                                <li>Gain incremental space for Frito innovation with side racks, weekenders, countertop units, baskets and crates</li>
                                <li>Utilize supporting POS ordered through the MSO portal</li>
                            </ul>
                        </div>
                      </div><!-- *ngSwitchCase accelerate-food-2 -->

<!-- Right -->
                      <div *ngSwitchCase="'right-beverage'">
                        <h3>Beverage</h3>
                        <div class="slider-section-img">
                          <ion-slides pager="false">
                            <ion-slide><img src="assets/img/CHART/Casual/R/Nakedgroup.png" class="slide-image"></ion-slide>
                          </ion-slides>
                        </div>
                        <div class="slider-section-copy">
                            <ul>
                                <li>Utilize merchandising solutions for incremental space to meet account specific needs</li>
                            </ul>
                        </div>
                      </div><!-- *ngSwitchCase right-beverage -->

                      <div *ngSwitchCase="'right-food'">
                        <h3>Sabra</h3>
                        <div class="slider-section-img">
                          <ion-slides pager="false">
                            <ion-slide><img src="assets/img/CHART/Casual/R/Humus.jpg" class="slide-image"></ion-slide>
                          </ion-slides>
                        </div>
                        <div class="slider-section-copy">
                            <ul>
                                <li>Merchandise Sabra hummus and guacamole in open air coolers for grab ‘n go options</li>
                            </ul>
                        </div>
                      </div><!-- *ngSwitchCase right-food -->

<!-- Trade -->
                      <div *ngSwitchCase="'trade-beverage'">
                        <h3>Beverage</h3>
                        <div class="slider-section-img">
                          <ion-slides pager="false">
                            <ion-slide><img src="assets/img/CHART/Casual/T/CSD_Goup.png" class="slide-image"></ion-slide>
                          </ion-slides>
                        </div>
                        <div class="slider-section-copy">
                            <ul>
                                <li>Increase consumption and volume with our larger cup size</li>
                                <li>Trade up to 591ml for increased profitability</li>
                            </ul>
                        </div>
                      </div><!-- *ngSwitchCase trade-beverage -->

                      <div *ngSwitchCase="'trade-food'">
                        <h3>Frito</h3>
                        <div class="slider-section-img">
                          <ion-slides pager="false">
                            <ion-slide><img src="assets/img/CHART/Casual/T/Big Grab Rack.png" class="slide-image"></ion-slide>
                          </ion-slides>
                        </div>
                        <div class="slider-section-copy">
                            <ul>
                                <li>Place dedicated Snack Size rack to drive snacking occasion</li>
                            </ul>
                        </div>
                      </div><!-- *ngSwitchCase trade-food -->

                  </div> <!-- [ngSwitch]="view" -->
            </div>
          </ion-row>
        </div>

    </ion-row>
</ion-grid>
