
          <div style="position: absolute; z-index: 90; top: 712px; left:0px; padding:0;margin:0; " >
            <div [ngSwitch]="language">
              <div *ngSwitchCase="'EN'">
                  <button class="menu-item" (click)="openPage( pages[0] )"><img class="pepsi-globe" src="assets/svg/Pepsi_globe.svg" width="32px" height="32px" /></button>
              </div>
              <div *ngSwitchCase="'FR'">
                  <button class="menu-item" (click)="openPage( pages[8] )"><img class="pepsi-globe" src="assets/svg/Pepsi_globe.svg" width="32px" height="32px" /></button>
              </div>
            </div>
          </div>

<ion-menu [content]="content" style="overflow:hidden;">
  <button menuToggle class="menutoggle" style="margin-left:177px; margin-top:24px; background:none;">
    <svg height="32px" id="Layer_1" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"/>
    </svg>
  </button>
  <div>

  <div [ngSwitch]="language">
    <div *ngSwitchCase="'EN'">
      <button ion-item class="menu-item" (click)="openPage( pages[1] ); pagenumber = 1;" >3V Overview</button>
      <button ion-item class="menu-item" (click)="openPage( pages[2] ); pagenumber = 2;" >Cafeteria</button>
      <button ion-item class="menu-item-child" (click)="openPage( pages[2] ); pagenumber = 2;" style="margin-left:16px;" >Breakfast</button>
      <button ion-item class="menu-item-child" (click)="openPage( pages[3] ); pagenumber = 3;" style="margin-left:16px;" >Lunch & Cash</button>
      <button ion-item class="menu-item" (click)="openPage( pages[4] ); pagenumber = 4;" >Casual</button>
      <button ion-item class="menu-item" (click)="openPage( pages[5] ); pagenumber = 5;" >QSR</button>
      <button ion-item class="menu-item" (click)="openPage( pages[6] ); pagenumber = 6;" >Recreation</button>
      <button ion-item class="menu-item" (click)="openPage( pages[7] ); pagenumber = 7;" >Profit Calculator</button>
      <br/><br/>
      <button *ngIf="pagenumber == 0" ion-item class="menu-item" (click)="language = 'FR'; openPage( pages[8] ); pagenumber = 8;" >Française</button>
      <button *ngIf="pagenumber == 1" ion-item class="menu-item" (click)="language = 'FR'; openPage( pages[9] ); pagenumber = 9;" >Française</button>
      <button *ngIf="pagenumber == 2" ion-item class="menu-item" (click)="language = 'FR'; openPage( pages[10] ); pagenumber = 10;" >Française</button>
      <button *ngIf="pagenumber == 3" ion-item class="menu-item" (click)="language = 'FR'; openPage( pages[11] ); pagenumber = 11;" >Française</button>
      <button *ngIf="pagenumber == 4" ion-item class="menu-item" (click)="language = 'FR'; openPage( pages[12] ); pagenumber = 12;" >Française</button>
      <button *ngIf="pagenumber == 5" ion-item class="menu-item" (click)="language = 'FR'; openPage( pages[13] ); pagenumber = 13;" >Française</button>
      <button *ngIf="pagenumber == 6" ion-item class="menu-item" (click)="language = 'FR'; openPage( pages[14] ); pagenumber = 14;" >Française</button>
      <button *ngIf="pagenumber == 7" ion-item class="menu-item" (click)="language = 'FR'; openPage( pages[15] ); pagenumber = 15;" >Française</button>
    </div>

    <div *ngSwitchCase="'FR'">
      <button ion-item class="menu-item" (click)="openPage( pages[9] ); pagenumber = 9;" >Aperçu des 3 V</button>
      <button ion-item class="menu-item" (click)="openPage( pages[10] ); pagenumber = 10;" >Cafétéria</button>
      <button ion-item class="menu-item-child" (click)="openPage( pages[10] ); pagenumber = 10;" style="margin-left:16px;" >Déjeuner</button>
      <button ion-item class="menu-item-child" (click)="openPage( pages[11] ); pagenumber = 11;" style="margin-left:16px;" >Dîner et caisse</button>
      <button ion-item class="menu-item" (click)="openPage( pages[12] ); pagenumber = 12;" >Repas décontractés</button>
      <button ion-item class="menu-item" (click)="openPage( pages[13] ); pagenumber = 13;" >Restauration rapide</button>
      <button ion-item class="menu-item" (click)="openPage( pages[14] ); pagenumber = 14;" >Divertissement</button>
      <button ion-item class="menu-item" (click)="openPage( pages[15] ); pagenumber = 15;" >Calculatrice de profit</button>
      <br/><br/>
      <button *ngIf="pagenumber == 8" ion-item class="menu-item" (click)="language = 'EN'; openPage( pages[0] ); pagenumber = 0" >English</button>
      <button *ngIf="pagenumber == 9" ion-item class="menu-item" (click)="language = 'EN'; openPage( pages[1] ); pagenumber = 1" >English</button>
      <button *ngIf="pagenumber == 10" ion-item class="menu-item" (click)="language = 'EN'; openPage( pages[2] ); pagenumber = 2" >English</button>
      <button *ngIf="pagenumber == 11" ion-item class="menu-item" (click)="language = 'EN'; openPage( pages[3] ); pagenumber = 3" >English</button>
      <button *ngIf="pagenumber == 12" ion-item class="menu-item" (click)="language = 'EN'; openPage( pages[4] ); pagenumber = 4" >English</button>
      <button *ngIf="pagenumber == 13" ion-item class="menu-item" (click)="language = 'EN'; openPage( pages[5] ); pagenumber = 5" >English</button>
      <button *ngIf="pagenumber == 14" ion-item class="menu-item" (click)="language = 'EN'; openPage( pages[6] ); pagenumber = 6" >English</button>
      <button *ngIf="pagenumber == 15" ion-item class="menu-item" (click)="language = 'EN'; openPage( pages[7] ); pagenumber = 7" >English</button>
    </div>
  </div>



  </div>

  <div class="menu-logo" style="position: absolute; z-index: 90; top: 732px; left: 72px; " >
    <img class="pepsi-logo" src="assets/svg/PEPSICO.svg" width="145px" />
  </div>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

