.chart-recreation-page {

  background-color: $pepsico-lightblueoffwhite;

  .core-food {left: 370px; top: 230px;}
  .core-beverage {left: 510px; top: 150px;}

  .healthy-food {left: 730px; top: 190px;}
  .healthy-beverage {left: 270px; top: 140px;}

  .accelerate-food {left: 270px; top: 210px;}
  .accelerate-food-2 {left: 710px; top: 240px;}
  .accelerate-beverage {left: 510px; top: 150px;}

  .right-beverage {left: 780px; top: 310px;}
  .right-food {left: 300px; top: 160px;}

  .trade-food {left: 280px; top: 210px;}
  .trade-beverage {left: 505px; top: 145px;}


  .environment-view-recreation-core,
  .environment-view-recreation-healthy,
  .environment-view-recreation-accelerate,
  .environment-view-recreation-trade,
  .environment-view-recreation-right {
    width:882px;
  }

  .imgHolder-recreation-core,
  .imgHolder-recreation-healthy,
  .imgHolder-recreation-accelerate,
  .imgHolder-recreation-trade,
  .imgHolder-recreation-right {
    overflow:hidden;
    height:354px;
    width:900px;
    position:relative;
  }

  .recreation-core,
  .recreation-healthy,
  .recreation-accelerate,
  .recreation-trade,
  .recreation-right {
    top: -100px;
    height:600px;
    width:900px;
    display:block;
    position:relative;
    z-index:1;
    overflow:hidden;
  }

  .recreation-core img,
  .recreation-healthy img,
  .recreation-accelerate img,
  .recreation-trade img,
  .recreation-right img {
    z-index:2;
    position:absolute;
    top:0;
    left:0;
    width:100%;
  }
}




