.chart-overview-page-fr {


/* Menu Tabs */



button.overview-button {
    font-family: SofiaProSemiBold;
    vertical-align: middle;
    font-size: 90px;
    color: white;
    background: transparent;
    background-color: #c9c9c9;
    border-color: #c9c9c9;
    border-width: 5px;

    }

button.overview-button.active {
    color: white;
    background: transparent;
    background-color: $pepsico-brightblue;
    }

.button-inner {
      text-align: center;
      padding-top: 20px;
}

.btn_core {
  margin:8px;
  margin-top:25px;
  width:120px;
  height: 120px;

}




.description {
  color:white;
  background: transparent;
  margin: 0 auto;
  padding-left:72px;
  margin-top: 80px;
  }

.description h2, {
  font-family: Futura-bold;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: white;
  }

.description ul {
  font-family: Futura;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  color: white;
  list-style: none;
  }







.circle {
               border-radius: 50%;
               display: inline-block;
               margin-right: 10px;
}

#element1 {
               width: 8px;
               height: 8px;
               margin-left:430px;

}

#element2,
#element3,
#element4,
#element5 {
               width: 8px;
               height: 8px;
}


}





