.chart-cafeteria-lunch-page {

background-color: $pepsico-lightblueoffwhite;

.snackracktopper {left:452px; top: 220px;}
.innovationwindow {left: 250px; top: 260px;}
.marketingprogram {left: 110px; top: 212px;}
.staffsuggestion {left: 375px; top: 230px;}
.staffsuggestion-station {left: 700px; top: 200px;}


.core-food {left: 690px; top: 280px;}
.core-beverage {left: 390px; top: 230px;}
.healthy-food {left: 710px; top: 310px;}
.healthy-beverage {left: 240px; top: 260px;}
.healthy-beverage-2 {left: 390px; top: 230px;}


.galvanizedtub {left: 520px; top: 258px;}
.galvanizedtubcling {left: 520px; top: 258px;}
.menuboards {left: 300px; top: 160px;}
.perfectparings {left: 235px; top: 230px;}
.perfectparings-station {left: 645px; top: 215px;}
.innovationshowcase {left: 765px; top: 260px;}
.countertopsnackrack {left: 866px; top: 186px;}

.environment-view-cafeteria-lunch-core,
.environment-view-cafeteria-lunch-healthy,
.environment-view-cafeteria-lunch-accelerate,
.environment-view-cafeteria-lunch-right,
.environment-view-cafeteria-lunch-trade {
  width:882px;
  }

.imgHolder-cafeteria-lunch-core,
.imgHolder-cafeteria-lunch-healthy,
.imgHolder-cafeteria-lunch-accelerate,
.imgHolder-cafeteria-lunch-right,
.imgHolder-cafeteria-lunch-trade {
  overflow:hidden;
  height:354px;
  position:relative;
  }

.imgHolder-cafeteria-lunch-core,
.imgHolder-cafeteria-lunch-healthy,
.imgHolder-cafeteria-lunch-accelerate,
.imgHolder-cafeteria-lunch-right,
.imgHolder-cafeteria-lunch-trade {
  width:900px;
  }

.cafeteria-lunch-core,
.cafeteria-lunch-healthy,
.cafeteria-lunch-accelerate,
.cafeteria-lunch-right,
.cafeteria-lunch-trade {
  height:354px;
  width:900px;
  display:block;
  position:relative;
  z-index:1;
  overflow:hidden;
  }

.cafeteria-lunch-core img,
.cafeteria-lunch-healthy img,
.cafeteria-lunch-accelerate img,
.cafeteria-lunch-right img,
.cafeteria-lunch-trade img {
  z-index:2;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  }

}




