.chart-cafeteria-lunch-page {

background-color: $pepsico-lightblueoffwhite;

.snackracktopper {left:452px; top: 220px;}
.innovationwindow {left: 250px; top: 260px;}
.marketingprogram {left: 110px; top: 212px;}
.staffsuggestion {left: 375px; top: 230px;}
.staffsuggestion-station {left: 700px; top: 200px;}


.core-food {left: 690px; top: 280px;}
.core-beverage {left: 390px; top: 230px;}
.healthy-food {left: 210px; top: 310px;}
.healthy-beverage {left: 240px; top: 260px;}
.healthy-beverage-2 {left: 760px; top: 310px;}

.accelerate-food {left: 610px; top: 310px;}
.accelerate-beverage {left: 260px; top: 240px;}
.accelerate-food-2 {left: 860px; top: 340px;}

.right-beverage {left: 780px; top: 310px;}
.right-food {left: 600px; top: 160px;}

.trade-beverage {left: 280px; top: 240px;}
.trade-food {left: 670px; top: 310px;}

.environment-view-cafeteria-lunch-core,
.environment-view-cafeteria-lunch-healthy,
.environment-view-cafeteria-lunch-accelerate,
.environment-view-cafeteria-lunch-trade,
.environment-view-cafeteria-lunch-right {
  width:882px;
  }

.imgHolder-cafeteria-lunch-core,
.imgHolder-cafeteria-lunch-healthy,
.imgHolder-cafeteria-lunch-accelerate,
.imgHolder-cafeteria-lunch-trade,
.imgHolder-cafeteria-lunch-right {
  overflow:hidden;
  height:354px;
  position:relative;
  }

.imgHolder-cafeteria-lunch-core,
.imgHolder-cafeteria-lunch-healthy,
.imgHolder-cafeteria-lunch-accelerate,
.imgHolder-cafeteria-lunch-trade,
.imgHolder-cafeteria-lunch-right {
  width:900px;
  }

.cafeteria-lunch-core,
.cafeteria-lunch-healthy,
.cafeteria-lunch-accelerate,
.cafeteria-lunch-trade,
.cafeteria-lunch-right {
  top: 0px;
  height:600px;
  width:900px;
  display:block;
  position:relative;
  z-index:1;
  overflow:hidden;
  }

.cafeteria-lunch-right {top: -140px;}

.cafeteria-lunch-core img,
.cafeteria-lunch-healthy img,
.cafeteria-lunch-accelerate img,
.cafeteria-lunch-trade img,
.cafeteria-lunch-right img {
  z-index:2;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  }

}




