<ion-grid class="cafeteria-lunch-page"><!-- side menu -->
    <ion-row>
        <div class="shadow" style="width:72px; height:768px; margin-right: 32px; background: white;" >
          <button menuToggle class="menutoggle" style="margin-left:14px; margin-top:24px; background:none;">
            <svg height="32px" id="Layer_1" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"/>
            </svg>
          </button>
        </div><!-- side menu -->

        <div style="width:884px;" >
          <ion-row>
            <ion-col col-6 class="title-header">CAFETERIA LUNCH & CASH</ion-col>

            <ion-col col-6 no-padding >
                <button [class.active]="type === 't'" class="shadow easing segment-chart-button" title="" (click)="type = 't'; view = 'marketingprogram'; key='lunch'" >
                  T
                </button>
                <button [class.active]="type === 'r'" class="shadow easing segment-chart-button" title="" (click)="type = 'r'; view = 'perfectparings'; key='lunch'" >
                  R
                </button>
                <button [class.active]="type === 'a'" class="shadow easing segment-chart-button" title="" (click)="type = 'a'; view = 'beveragecooler'; key='lunch'" >
                  A
                </button>
                <button [class.active]="type === 'h'" class="shadow easing segment-chart-button" title="" (click)="type = 'h'; view = 'beveragecooler'; key='lunch'" >
                  H
                </button>
                <button [class.active]="type === 'c'" class="shadow easing segment-chart-button" title="" (click)="type = 'c'; view = 'beveragecooler'; key='lunch'" >
                  C
                </button>
            </ion-col>
          </ion-row>

          <ion-row>
                <div  [class.environment-view-cafeteria-lunch-value]="type === 't'" [class.environment-view-cafeteria-lunch-visibility]="type === 'r'" [class.environment-view-cafeteria-lunch-variety]="type === 'a'" class="shadow easing">
                  <div [class.imgHolder-cafeteria-lunch-value]="type === '  t'" [class.imgHolder-cafeteria-lunch-visibility]="type === 'r'" [class.imgHolder-cafeteria-lunch-variety]="type === 'a'" class="easing" >
                    <div [class.cafeteria-lunch-value]="type === 't'" [class.cafeteria-lunch-visibility]="type === 'r'" [class.cafeteria-lunch-variety]="type === 'a'" class="easing" >
                      <img src="assets/img/Cafeteria_Lunch/Cafeteria_Lunch.png" />

                      <div *ngIf="view === 'beveragecooler'" style="z-index:1;"><img [class.fade-in]="view === 'beveragecooler'" onload="this.style.opacity='1';" src="assets/img/Cafeteria_Lunch/Cafeteria_Lunch_Variety_beveragecooler.png" /></div>
                      <div *ngIf="view === 'fritosnackrack'" style="z-index:1;"><img [class.fade-in]="view === 'fritosnackrack'" onload="this.style.opacity='1';" src="assets/img/Cafeteria_Lunch/Cafeteria_Lunch_Variety fritosnackrack.png" /></div>
                      <div *ngIf="view === 'galvanizedtub'" style="z-index:1;"><img [class.fade-in]="view === 'galvanizedtub'" onload="this.style.opacity='1';" src="assets/img/Cafeteria_Lunch/Cafeteria_Lunch_Variety_galvanizedtub.png" /></div>

                      <div *ngIf="view === 'snackracktopper'" style="z-index:1;"><img [class.fade-in]="view === 'snackracktopper'" onload="this.style.opacity='1';" src="assets/img/Cafeteria_Lunch/Cafeteria_Lunch_Value_snackracktopper.png" /></div>
                      <div *ngIf="view === 'innovationwindow'" style="z-index:1;"><img [class.fade-in]="view === 'innovationwindow'" onload="this.style.opacity='1';" src="assets/img/Cafeteria_Lunch/Cafeteria_Lunch_Value_innovationwindow.png" /></div>
                      <div *ngIf="view === 'marketingprogram'" style="z-index:1;"><img [class.fade-in]="view === 'marketingprogram'" onload="this.style.opacity='1';" src="assets/img/Cafeteria_Lunch/Cafeteria_Lunch_Value_marketingprogram.png" /></div>
                      <div *ngIf="view === 'staffsuggestion'" style="z-index:1;"><img [class.fade-in]="view === 'staffsuggestion'" onload="this.style.opacity='1';" src="assets/img/Cafeteria_Lunch/Cafeteria_Lunch_Value_staffsuggestion.png" /></div>
                      <div *ngIf="view === 'staffsuggestion-station'" style="z-index:1;"><img [class.fade-in]="view === 'staffsuggestion-station'" onload="this.style.opacity='1';" src="assets/img/Cafeteria_Lunch/Cafeteria_Lunch_Value_staffsuggestion.png" /></div>

                      <div *ngIf="view === 'galvanizedtubcling'" style="z-index:1;"><img [class.fade-in]="view === 'galvanizedtubcling'" onload="this.style.opacity='1';" src="assets/img/Cafeteria_Lunch/Cafeteria_Lunch_Visibility_galvanizedtubcling.png" /></div>
                      <div *ngIf="view === 'menuboards'" style="z-index:1;"><img [class.fade-in]="view === 'menuboards'" onload="this.style.opacity='1';" src="assets/img/Cafeteria_Lunch/Cafeteria_Lunch_Visibility_menuboards.png" /></div>
                      <div *ngIf="view === 'perfectparings'" style="z-index:1;"><img [class.fade-in]="view === 'perfectparings'" onload="this.style.opacity='1';" src="assets/img/Cafeteria_Lunch/Cafeteria_Lunch_Visibility_perfectparings.png" /></div>
                      <div *ngIf="view === 'perfectparings-station'" style="z-index:1;"><img [class.fade-in]="view === 'perfectparings'" onload="this.style.opacity='1';" src="assets/img/Cafeteria_Lunch/Cafeteria_Lunch_Visibility_perfectparings.png" /></div>

                    </div>
                  </div>
                  <div class="title-box">CAFETERIA LUNCH</div>
                </div>
                <div  [class.environment-view-cafeteria-station-value]="type === 't'" [class.environment-view-cafeteria-station-visibility]="type === 'r'" [class.environment-view-cafeteria-station-variety]="type === 'a'" class="shadow easing">
                  <div [class.imgHolder-cafeteria-station-value]="type === 't'" [class.imgHolder-cafeteria-station-visibility]="type === 'r'" [class.imgHolder-cafeteria-station-variety]="type === 'a'" class="easing" >
                    <div [class.cafeteria-station-value]="type === 't'" [class.cafeteria-station-visibility]="type === 'r'" [class.cafeteria-station-variety]="type === 'a'" class="easing" >
                      <img src="assets/img/Cafeteria_Lunch/Cafeteria_Station.png" />

                      <div *ngIf="view === 'countertopsnackrack'" style="z-index:1;"><img [class.fade-in]="view === 'countertopsnackrack'" onload="this.style.opacity='1';" src="assets/img/Cafeteria_Lunch/Cafeteria_Station_Variety_countertopsnackrack.png" /></div>
                      <div *ngIf="view === 'perfectparings'" style="z-index:1;"><img [class.fade-in]="view === 'perfectparings'" onload="this.style.opacity='1';" src="assets/img/Cafeteria_Lunch/Cafeteria_Station_Visibility_perfectparings.png" /></div>
                      <div *ngIf="view === 'perfectparings-station'" style="z-index:1;"><img [class.fade-in]="view === 'perfectparings'" onload="this.style.opacity='1';" src="assets/img/Cafeteria_Lunch/Cafeteria_Station_Visibility_perfectparings.png" /></div>
                      <div *ngIf="view === 'staffsuggestion'" style="z-index:1;"><img [class.fade-in]="view === 'staffsuggestion'" onload="this.style.opacity='1';" src="assets/img/Cafeteria_Lunch/Cafeteria_Station_Value_staffsuggestion.png" /></div>
                      <div *ngIf="view === 'staffsuggestion-station'" style="z-index:1;"><img [class.fade-in]="view === 'staffsuggestion-station'" onload="this.style.opacity='1';" src="assets/img/Cafeteria_Lunch/Cafeteria_Station_Value_staffsuggestion.png" /></div>
                      <div *ngIf="view === 'innovationshowcase'" style="z-index:1;"><img [class.fade-in]="view === 'innovationshowcase'" onload="this.style.opacity='1';" src="" /></div>

                    </div>
                  </div>
                  <div class="title-box">CASH AREA</div>
                </div>



            <div [ngSwitch]="type">
              <div *ngSwitchCase="'t'">
                      <button [class.active]="view === 'innovationwindow'" class="btn-bullseye innovationwindow" title=""  (click)="view = 'innovationwindow'; key='lunch'"><svg><circle class="st1" cx="18" cy="18" r="15.75"/><circle class="st2" cx="18" cy="18" r="6.3"/><circle class="st3" cx="18" cy="18" r="14.4"/><circle class="st4" cx="18" cy="18" r="9.5"/></svg></button>
                      <button [class.active]="view === 'marketingprogram'" class="btn-bullseye marketingprogram" title="" (click)="view = 'marketingprogram'; key='lunch'"><svg><circle class="st1" cx="18" cy="18" r="15.75"/><circle class="st2" cx="18" cy="18" r="6.3"/><circle class="st3" cx="18" cy="18" r="14.4"/><circle class="st4" cx="18" cy="18" r="9.5"/></svg></button>
                      <button [class.active]="view === 'staffsuggestion'" class="btn-bullseye staffsuggestion" title=""  (click)="view = 'staffsuggestion'; key='lunch'"><svg><circle class="st1" cx="18" cy="18" r="15.75"/><circle class="st2" cx="18" cy="18" r="6.3"/><circle class="st3" cx="18" cy="18" r="14.4"/><circle class="st4" cx="18" cy="18" r="9.5"/></svg></button>
                      <button [class.active]="view === 'staffsuggestion-station'" class="btn-bullseye staffsuggestion-station" title=""  (click)="view = 'staffsuggestion-station'; key='cash'"><svg><circle class="st1" cx="18" cy="18" r="15.75"/><circle class="st2" cx="18" cy="18" r="6.3"/><circle class="st3" cx="18" cy="18" r="14.4"/><circle class="st4" cx="18" cy="18" r="9.5"/></svg></button>
                      <button [class.active]="view === 'snackracktopper'" class="btn-bullseye snackracktopper" title="" (click)="view = 'snackracktopper'; key='lunch'"><svg><circle class="st1" cx="18" cy="18" r="15.75"/><circle class="st2" cx="18" cy="18" r="6.3"/><circle class="st3" cx="18" cy="18" r="14.4"/><circle class="st4" cx="18" cy="18" r="9.5"/></svg></button>
                      <button [class.active]="view === 'innovationshowcase'" class="btn-bullseye innovationshowcase" title=""  (click)="view = 'innovationshowcase'; key='cash'"><svg><circle class="st1" cx="18" cy="18" r="15.75"/><circle class="st2" cx="18" cy="18" r="6.3"/><circle class="st3" cx="18" cy="18" r="14.4"/><circle class="st4" cx="18" cy="18" r="9.5"/></svg></button>
              </div><!-- ngSwitchCase value -->

              <div *ngSwitchCase="'r'">
                      <button [class.active]="view === 'galvanizedtubcling'" class="btn-bullseye galvanizedtubcling" title="" (click)="view = 'galvanizedtubcling'; key='lunch'"><svg><circle class="st1" cx="18" cy="18" r="15.75"/><circle class="st2" cx="18" cy="18" r="6.3"/><circle class="st3" cx="18" cy="18" r="14.4"/><circle class="st4" cx="18" cy="18" r="9.5"/></svg></button>
                      <button [class.active]="view === 'menuboards'" class="btn-bullseye menuboards" title="" (click)="view = 'menuboards'; key='lunch'"><svg><circle class="st1" cx="18" cy="18" r="15.75"/><circle class="st2" cx="18" cy="18" r="6.3"/><circle class="st3" cx="18" cy="18" r="14.4"/><circle class="st4" cx="18" cy="18" r="9.5"/></svg></button>
                      <button [class.active]="view === 'perfectparings'" class="btn-bullseye perfectparings" title="" (click)="view = 'perfectparings'; key='lunch'"><svg><circle class="st1" cx="18" cy="18" r="15.75"/><circle class="st2" cx="18" cy="18" r="6.3"/><circle class="st3" cx="18" cy="18" r="14.4"/><circle class="st4" cx="18" cy="18" r="9.5"/></svg></button>
                      <button [class.active]="view === 'perfectparings-station'" class="btn-bullseye perfectparings-station" title="" (click)="view = 'perfectparings-station'; key='cash'"><svg><circle class="st1" cx="18" cy="18" r="15.75"/><circle class="st2" cx="18" cy="18" r="6.3"/><circle class="st3" cx="18" cy="18" r="14.4"/><circle class="st4" cx="18" cy="18" r="9.5"/></svg></button>
              </div><!-- ngSwitchCase visibility -->

              <div *ngSwitchCase="'a'">
                      <button [class.active]="view === 'beveragecooler'" class="btn-bullseye beveragecooler" title=""  (click)="view = 'beveragecooler'; key='lunch'">
                        <object type="image/svg+xml" data="assets/svg/bullseye.svg"></object>
                      </button>
                      <button [class.active]="view === 'fritosnackrack'" class="btn-bullseye fritosnackrack" title="" (click)="view = 'fritosnackrack'; key='lunch'">
                        <object type="image/svg+xml" data="assets/svg/bullseye.svg"></object>
                      </button>
                      <button [class.active]="view === 'galvanizedtub'" class="btn-bullseye galvanizedtub" title=""  (click)="view = 'galvanizedtub'; key='lunch';"><svg><circle class="st1" cx="18" cy="18" r="15.75"/><circle class="st2" cx="18" cy="18" r="6.3"/><circle class="st3" cx="18" cy="18" r="14.4"/><circle class="st4" cx="18" cy="18" r="9.5"/></svg></button>
                      <button [class.active]="view === 'countertopsnackrack'" class="btn-bullseye countertopsnackrack" title=""  (click)="view = 'countertopsnackrack'; key='cash'"><svg><circle class="st1" cx="18" cy="18" r="15.75"/><circle class="st2" cx="18" cy="18" r="6.3"/><circle class="st3" cx="18" cy="18" r="14.4"/><circle class="st4" cx="18" cy="18" r="9.5"/></svg></button>


              </div><!-- ngSwitchCase variety -->

            </div><!-- ngSwitch type -->



          </ion-row>

          <ion-row>
            <div class="insights shadow"><!-- key facts -->
              <h2>KEY FACTS</h2>
              <div [ngSwitch]="type">
                  <ion-list *ngSwitchCase="'t'">

                      <ol>
                          <li *ngIf="key === 'lunch'">Pursue Pockets of Growth…Flavoured CSDs growing +1%</li>
                          <li *ngIf="key === 'lunch'">Water, Isotonics, Tea & Juice Categories to grow a combined 5% over the next 5 years</li>
                          <li *ngIf="key === 'lunch'">Salty Category is significant and growing 2% YTD</li>
                          <li *ngIf="key === 'cash'">Nearly 40% of single-serve salty snack purchases are made on impulse - offer the right variety of products to maximize impulse purchases</li>
                      </ol>
                  </ion-list>

                 <ion-list *ngSwitchCase="'r'">
                      <ol>
                          <li *ngIf="key === 'lunch'">Menu is the single most important driver of on premise sales - 64% of consumers are more likely to make a purchase if it's on the menu boards</li>
                          <li *ngIf="key === 'lunch'">Inclusion in combos is also very influential - leverage Perfect Pairings</li>
                          <li *ngIf="key === 'cash'">Capitalize on consumer impulsivity by executing countertop bottle and Frito stand in the cash zone to suggest add-ons and maximize sales</li>
                      </ol>
                  </ion-list>

                 <ion-list *ngSwitchCase="'a'">
                      <ol>
                          <li *ngIf="key === 'lunch'">Lunch is the largest on-site foodservice daypart by traffic</li>
                          <li *ngIf="key === 'lunch'">Use combos, innovation, and marketing programs to capitalize on the busiest daypart and maximize cheque size</li>
                          <li *ngIf="key === 'cash'">Capitalize on consumer impulsivity - Executing around the cash area  can maximize combo and innovation sales</li>


                      </ol>
                  </ion-list>

              </div> <!--[ngSwitch]= type for key facts -->

            </div><!-- key insights -->

            <div class="shadow slider-section" style="width: 498px; margin-left: 16px;"><!-- image slider section -->
                  <div [ngSwitch]="view">
<!-- Variety -->
                      <div *ngSwitchCase="'beveragecooler'">
                        <h3>Beverage Cooler</h3>
                        <ion-slides pager="true">
                          <ion-slide>
                            <div class="slider-section-img">
                              <img src="assets/img/Slides/Cooler - Two-Door.jpg" class="slide-image">
                            </div>
                            <div class="slider-section-copy">
                              <ul>
                                <li>Segment-specific POGs make sure the right mix of products are offered to satisfy the consumer</li>
                                <li>Fully executed POGs will help drive sales while avoiding out-of-stocks</li>
                                <li>Comprehensive POGs by segment and cooler type are available on Advantage</li>
                              </ul>
                            </div>
                          </ion-slide>
                          <ion-slide>
                            <div class="slider-section-img">
                              <img src="assets/img/Slides/Cafeteria_Lunch_Beverage_Cooler.png" class="slide-image">
                            </div>
                            <div class="slider-section-copy">
                              <ul>
                                <li>PepsiCo has an Advantage Flavours Portfolio to Drive Growth</li>
                              </ul>
                            </div>
                          </ion-slide>
                          <ion-slide>
                            <div class="slider-section-img">
                              <img src="assets/img/Slides/Cafeteria_Lunch_Beverage_Cooler_2.png" class="slide-image">
                            </div>
                            <div class="slider-section-copy">
                                <ul>
                                  <li>Water, Tea, Juice & Isotonic to grow a combined 5% over the next 5 years</li>
                                  <li>Tea expected to Grow 3x more than LRB - Close Distribution Gaps on Pure Leaf</li>
                                </ul>
                            </div>
                          </ion-slide>
                        </ion-slides>
                      </div><!-- *ngSwitchCase beveragecooler -->

                      <div *ngSwitchCase="'fritosnackrack'">
                        <h3>Frito Snack Rack</h3>
                        <ion-slides pager="true">
                          <ion-slide>
                            <div class="slider-section-img">
                              <img src="assets/img/Slides/Frito Snack Rack - 1ft A.png" class="slide-image">
                            </div>
                            <div class="slider-section-copy">
                                <ul>
                                  <li>Use the appropriate racking to execute our regional POGs, which offer the right set of snacks to the consumer to drive sales while avoiding out-of-stocks</li>
                                  <li>Racks can be ordered through the MSO Portal and full POGs are available on Advantage</li>
                                </ul>
                            </div>
                          </ion-slide>
                          <ion-slide>
                            <div class="slider-section-img">
                              <img src="assets/img/Slides/Cafeteria_Lunch_Frito_Snack_Rack.png" class="slide-image">
                            </div>
                            <div class="slider-section-copy">
                                <ul>
                                  <li>Big Grab is growing 5x faster than category.  3 Yr CAGR +113%</li>
                                  <li>Big Grab delivers more penny project $ for retailers</li>
                                  <li>Use 1ft racking to execute Big Grab near beverage cooler if vending machine not available</li>
                                </ul>
                            </div>
                          </ion-slide>
                        </ion-slides>
                      </div><!-- *ngSwitchCase fritosnackrack -->

                      <div *ngSwitchCase="'galvanizedtub'">
                        <h3>Galvanized Tub</h3>
                          <ion-slides pager="true">
                            <ion-slide>
                              <div class="slider-section-img">
                                <img src="assets/img/Slides/Cafeteria_Lunch_Galvanized_Tub.png" class="slide-image">
                              </div>
                              <div class="slider-section-copy">
                                <ul>
                                  <li>Keep chilled beverages at arms' reach in high traffic areas to drive incremental impulse sales</li>
                                  <li>Galvanized Tubs can be ordered through the MSO Portal</li>
                                </ul>
                              </div>
                            </ion-slide>
                            <ion-slide>
                              <div class="slider-section-img">
                                <img src="assets/img/Slides/Cafeteria_Lunch_Galvanized_Tub_Sabras.png" class="slide-image">
                              </div>
                              <div class="slider-section-copy">
                                <ul>
                                  <li>Dip Category growing +12%</li>
                                  <li>Expand into Healthy Snacking with Sabra Guacamole and Sabra Hummus</li>
                                </ul>
                              </div>
                            </ion-slide>
                          </ion-slides>

                      </div><!-- *ngSwitchCase galvanizedtub -->

                      <div *ngSwitchCase="'countertopsnackrack'">
                        <h3>Countertop Snack Rack</h3>
                        <div class="slider-section-img">
                          <ion-slides pager="true">
                            <ion-slide><img src="assets/img/Slides/30011450_Lay's_Classic_66g.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/30013134_Sun Chips_Harvest Cheddar_40g.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/30013366_30013367_Cheetos_Crunchy_57g_DOM_IMP.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/30013448_Miss Vickie's_Original_40g.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/30048909_Oven Baked_Lay's_Original_66g.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/45g_Dor_Nacho.png" class="slide-image"></ion-slide>
                          </ion-slides>
                        </div>
                        <div class="slider-section-copy">
                            <ul>
                              <li>Capitalize on impulsivity by using the Countertop Snack Racks to capture sales as consumers wait to cash out</li>
                              <li>Countertop Snack Racks can be ordered through the MSO portal</li>
                            </ul>
                        </div>
                      </div><!-- *ngSwitchCase countertopsnackrack -->

<!-- Visibility -->
                      <div *ngSwitchCase="'perfectparings'" >
                      <h3>Perfect Parings</h3>
                        <div class="slider-section-img">
                            <img src="assets/img/Slides/17633 LG IN1 PEPSICO 3V IMAGE-01.jpg" class="slide-image shadow">
                        </div>
                        <div class="slider-section-copy">
                          <ul>
                            <li>Leverage portfolio variety to pair the right beverages with the right food on your menu to maximize reach</li>
                            <li>Leverage +100 new beverage & food images available on PepsiCo Art Gallery</li>
                            <li>Acrylic stands can be ordered the  MSO Portal</li>
                          </ul>
                        </div>
                      </div> <!-- *ngSwitchCase="'perfectparings -->

                      <div *ngSwitchCase="'perfectparings-station'" >
                        <h3>Perfect Parings</h3>
                        <ion-slides pager="true">
                          <ion-slide>
                            <div class="slider-section-img">
                              <img src="assets/img/Slides/IMG_0467.png" class="slide-image">
                            </div>
                            <div class="slider-section-copy">
                              <ul>
                                <li>Keep beverages in arm reach in high traffic areas to drive incremental impulse sales</li>
                                <li>Countertop bottle stands can be ordered through the MSO Portal</li>
                              </ul>
                            </div>
                          </ion-slide>
                          <ion-slide>
                            <div class="slider-section-img">
                              <img src="assets/img/Slides/17633 LG IN1 PEPSICO 3V IMAGE-01.jpg" class="slide-image shadow">
                            </div>
                            <div class="slider-section-copy">
                              <ul>
                                <li>Suggesting beverage and snack pairings with main orders creates an enticing complement to the consumer's meal and can help grow sales</li>
                                <li>Leverage +100 new beverage & food images available on PepsiCo Art Gallery</li>
                                <li>Acrylic stands can be ordered the  MSO Portal</li>
                              </ul>
                            </div>
                          </ion-slide>
                        </ion-slides>
                      </div> <!-- *ngSwitchCase="'perfectparings-station -->

                      <div *ngSwitchCase="'menuboards'">
                        <h3>Menu Boards</h3>
                        <div class="slider-section-img">
                          <ion-slides pager="true">
                            <ion-slide><img src="assets/img/Slides/PepsiCo 7Up Lemon Lemon Original 355 mL W_Glass EN.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/Pepsico Logo Glass Pepsi_02.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/Pepsico Logo Glass BriskIceTea_02.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/Pepsico Logo Glass MountainDew_02.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/Pepsico Logo Glass Dr_Pepper_02.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/PepsiCo Trop TPP Original No Pulp 355mL Strt W_Glass Straw.png" class="slide-image"></ion-slide>
                          </ion-slides>
                        </div>
                        <div class="slider-section-copy">
                              <ul>
                                <li>As the single most important driver of sales at QSRs, leverage new photography with refreshment cues to drive appetite appeal and incidence on beverages</li>
                                <li>+100 new beverage & foods images available on PepsiCo Art Gallery</li>
                              </ul>
                            </div>
                        </div><!-- *ngSwitchCase menuboards -->

                      <div *ngSwitchCase="'galvanizedtubcling'">
                        <h3>Galvanized Tub Cling</h3>
                        <div class="slider-section-img">
                          <ion-slides pager="true">
                            <ion-slide><img src="assets/img/Slides/ONE Coconut Water 500 mL Pure 3D Dry Straight BIL.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/Tropicana Pure Premium 355 mL Orange No Pulp  BIL.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/16835 PepsiCo Naked Relaunch Mighty Mango 450mL 3D EN.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/Montellier Natural Spring Water 500mL Straight Spritzed ENG.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/Pure Leaf_Lemon 547 mL Straight Spritzed ENG.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/Starbucks Mocha Frappucino 281 mL ENG.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/CAN_GrabnGo_Guacamole.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/CAN_HummusToGo_RedPepper.png" class="slide-image"></ion-slide>
                          </ion-slides>
                        </div>
                          <div class="slider-section-copy">
                            <ul>
                              <li>Execute the right Branded Cling on the Galvanized Tub to catch consumer attention and highlight featured Lunch products</li>
                              <li>A range of Branded Clings come with the Galvanized Tubs when they are ordered through the MSO Portal</li>
                            </ul>
                          </div>
                      </div><!-- *ngSwitchCase galvanizedtubcling -->

<!-- Value -->
                      <div *ngSwitchCase="'innovationwindow'">
                        <h3>Innovation Window</h3>
                        <div class="slider-section-img">
                          <img src="assets/img/Slides/ENG Bev Cling.png" class="slide-image">
                        </div>
                        <div class="slider-section-copy">
                          <ul>
                            <li>The role of innovation is to gain incremental sales - use the Innovation Window cling to highlight new SKUs, capture impulse purchases, and drive trial</li>
                            <li>Innovation Window clings can be ordered through the MSO Portal</li>
                          </ul>
                        </div>
                      </div><!-- *ngSwitchCase innovationwindow -->

                      <div *ngSwitchCase="'marketingprogram'">
                        <h3>Cafeteria Lunch Marketing Program</h3>
                        <div class="slider-section-img">
                          <ion-slides pager="true">
                            <ion-slide><img src="assets/img/Slides/Marketing Window - Sports A EN.jpg" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/Marketing Window - Sports B EN.jpg" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/Marketing Window - Sports C EN.jpg" class="slide-image"></ion-slide>
                          </ion-slides>
                        </div>
                        <div class="slider-section-copy">
                          <ul>
                            <li>Many Workplace and C&U locations take part in seasonal or year-round marketing program which generate excitement and drive beverage and snack sales through promotions</li>
                            <li>Create eye-catching tools using Customer Marketing Dollars</li>
                          </ul>
                        </div>
                      </div><!-- *ngSwitchCase innovationwindow -->

                      <div *ngSwitchCase="'snackracktopper'">
                        <h3>Frito Snack Rack Topper - News</h3>
                        <div class="slider-section-img">
                          <ion-slides pager="true">
                            <ion-slide><img src="assets/img/Slides/MissVickies_PureLeafLemon_Pairing Right.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/PepsiCO_MtnDew_Doritos_Right.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/Pepsico_LaysClassic_Right.png" class="slide-image"></ion-slide>
                          </ion-slides>
                        </div>
                        <div class="slider-section-copy">
                          <ul>
                            <li>Use Rack Header Cards to highlight marketing promotions to drive sales</li>
                            <li>Rack Headers can be ordered through the MSO portal</li>
                          </ul>
                        </div>
                      </div><!-- *ngSwitchCase snackracktopper -->

                      <div *ngSwitchCase="'staffsuggestion'">
                        <h3>Staff Suggestion</h3>
                        <div class="slider-section-img">
                          <img src="assets/img/Slides/Staff Suggestion Button EN.jpg" class="slide-image">
                        </div>
                        <div class="slider-section-copy">
                          <ul>
                            <li>38% of consumers base their orders on their server's suggestions</li>
                            <li>Develop programming and materials for staff to help ensure all consumers add a beverage and snack to their meals</li>
                          </ul>
                        </div>
                      </div><!-- *ngSwitchCase staffsuggestion -->

                      <div *ngSwitchCase="'staffsuggestion-station'">
                        <h3>Staff Suggestion</h3>
                          <div class="slider-section-img"><img [class.fade-in]="view === 'staffsuggestion-station'" onload="this.style.opacity='1';" src="assets/img/Slides/Staff Suggestion Button EN.jpg" class="slide-image"></div>
                          <div class="slider-section-copy">
                            <ul>
                              <li>Staff members are in a strong position of influence when consumers are placing their orders and staff suggestions are highly valued</li>
                              <li>Use customer marketing dollars to develop programming and materials for staff to suggest products at the point of order</li>
                            </ul>
                          </div>
                      </div><!-- *ngSwitchCase staffsuggestion-station -->

                      <div *ngSwitchCase="'innovationshowcase'">
                        <h3>Innovation Showcase</h3>
                        <div class="slider-section-img"><img [class.fade-in]="view === 'innovationwindow'" onload="this.style.opacity='1';" src="assets/img/Slides/FS18018_P3_MSV_Sweet_Southern_BBQ_Render_ENG_P1.png" class="slide-image"></div>
                        <div class="slider-section-copy">
                          <ul>
                            <li>The key to incremental sales through innovation is trial</li>
                            <li>Displays in high-traffic areas by the Cash zone can generate awareness around new product launches and drive trial for both on-site and takeout consumers</li>
                            <li>Innovation Weekenders and Racking can be ordered through the MSO Portal</li>
                          </ul>
                        </div>
                      </div><!-- *ngSwitchCase innovationwindow -->

                  </div> <!-- [ngSwitch]="view" -->
            </div>
          </ion-row>
        </div>

    </ion-row>
</ion-grid>
