.cafeteria-lunch-page {

background-color: $pepsico-lightblueoffwhite;

.variety01 {left: 195px; top: 200px;}
.variety02 {left: 450px; top: 240px;}
.variety03 {left: 550px; top: 315px;}
.variety04 {left: 130px; top: 315px;}

.visibility02 {left: 300px; top: 160px;}
.visibility03 {left: 495px; top: 300px;}

.visibilitycash01 {left: 866px; top: 186px;}

.snackracktopper {left:452px; top: 220px;}
.marketingprogram {left: 310px; top: 270px;}

.varietycash01 {left: 866px; top: 186px;}

.environment-view-cafeteria-lunch-value {width:508px;}
.environment-view-cafeteria-station-value {width: 360px; margin-left:16px;}
.environment-view-cafeteria-lunch-visibility {width:508px;}
.environment-view-cafeteria-station-visibility {width: 360px; margin-left:16px;}
.environment-view-cafeteria-lunch-variety {width:508px;}
.environment-view-cafeteria-station-variety {width: 360px; margin-left:16px;}

.imgHolder-cafeteria-lunch-value,
.imgHolder-cafeteria-lunch-visibility,
.imgHolder-cafeteria-lunch-variety,
.imgHolder-cafeteria-station-value,
.imgHolder-cafeteria-station-visibility,
.imgHolder-cafeteria-station-variety {
    overflow:hidden;
    height:354px;
    position:relative;
    }

.imgHolder-cafeteria-lunch-value, .imgHolder-cafeteria-lunch-visibility, .imgHolder-cafeteria-lunch-variety {width:508px;}
.imgHolder-cafeteria-station-value, .imgHolder-cafeteria-station-visibility, .imgHolder-cafeteria-station-variety {width:360px;}

.cafeteria-lunch-value,
.cafeteria-station-value,
.cafeteria-lunch-visibility,
.cafeteria-station-visibility,
.cafeteria-lunch-variety,
.cafeteria-station-variety {
    height:354px;
    display:block;
    position:relative;
    z-index:1;
    overflow:hidden;
    }

.cafeteria-lunch-variety {left: -100px; width:777px; height:400px;}
.cafeteria-station-variety {left: -150px; width:777px; height:400px;}
.cafeteria-lunch-value {left: -100px; width:777px; height:400px;}
.cafeteria-station-value {left: -50px; width:777px; height:400px;}
.cafeteria-lunch-visibility {left: -200px; width:777px; height:400px;}
.cafeteria-station-visibility {left: -200px; width:777px; height:400px;}

.cafeteria-lunch-value img,
.cafeteria-station-value img,
.cafeteria-lunch-visibility img,
.cafeteria-station-visibility img,
.cafeteria-lunch-variety img,
.cafeteria-station-variety img {
    z-index:2;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    }

}




