<ion-grid class="cafeteria-lunch-page"><!-- side menu -->
    <ion-row>
        <div class="shadow" style="width:72px; height:768px; margin-right: 32px; background: white;" >
          <button menuToggle class="menutoggle" style="margin-left:14px; margin-top:24px; background:none;">
            <svg height="32px" id="Layer_1" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"/>
            </svg>
          </button>
        </div><!-- side menu -->

        <div style="width:884px;" >
          <ion-row>
            <ion-col col-6 class="title-header">CAFETERIA LUNCH & CASH</ion-col>

            <ion-col col-6 no-padding >
                <button [class.active]="type === 'value'" class="shadow easing segment-button btn_value" title="" (click)="type = 'value'; view = 'marketingprogram'; key='lunch'" >
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                    <path class="st0" d="M38,44c0-1.7-0.5-3.1-1.4-4c-0.9-1-2.5-1.9-4.9-2.8c-5.7-2.1-9.8-4.2-12.4-6.3c-2.6-2.1-3.9-5.2-3.9-9.4
                      c0-3.7,1.4-6.8,4.1-9.2c2.7-2.4,6.4-3.8,11-4.2V0.1h5.7v8.2c4.3,0.6,7.8,2.2,10.3,4.9c2.5,2.7,3.8,6.1,3.7,10.3l-0.1,0.2H38.2
                      c0-2.4-0.5-4.2-1.5-5.4c-1-1.2-2.4-1.8-4-1.8c-1.7,0-3,0.5-3.8,1.5c-0.8,1-1.2,2.2-1.2,3.7c0,1.5,0.4,2.7,1.3,3.7
                      c0.9,0.9,2.5,1.9,4.9,2.9c5.6,2.2,9.7,4.3,12.3,6.5c2.6,2.2,3.9,5.3,3.9,9.3c0,3.8-1.3,6.9-4,9.2c-2.6,2.3-6.2,3.7-10.6,4.1v6.6
                      h-5.7v-6.7c-4.7-0.4-8.5-1.9-11.6-4.5c-3.1-2.6-4.6-6.3-4.5-11.3l0.1-0.2h11.9c0,2.7,0.6,4.7,1.9,5.9c1.3,1.2,3,1.8,5.1,1.8
                      c1.7,0,3-0.5,3.9-1.4C37.5,46.7,38,45.5,38,44z"/>
                    </svg>
                  VALUE
                </button>
                <button [class.active]="type === 'visibility'" class="shadow easing segment-button btn_visibility" title="" (click)="type = 'visibility'; view = 'perfectparings'; key='lunch'" >
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 84.3 64" style="enable-background:new 0 0 84.3 64;" xml:space="preserve">
                    <path class="st0" d="M68.3,12.7C67,10.9,65.1,9.4,63,8.5c-1.1-2.1-2.8-4.3-3.7-5.2c-1.3-1.2-3-1.9-4.9-1.9c-4,0-7.3,3.3-7.3,7.3
                      c0,1.6-0.1,3,0.1,4.2c-0.8,1.1-1.4,2.4-1.8,3.8c-0.8-0.6-1.9-1-3-1c-0.1,0-0.2,0-0.3,0c-0.1,0-0.2,0-0.3,0c-1.1,0-2.1,0.4-3,1
                      c-0.4-1.4-1-2.6-1.8-3.8c0.2-1.2,0.1-2.6,0.1-4.2c0-4-3.3-7.3-7.3-7.3c-1.9,0-3.6,0.7-4.9,1.9c-0.9,0.8-2.6,3.1-3.7,5.2
                      c-2.1,0.9-3.9,2.4-5.3,4.2c-1.6,2.2-9.3,12.8-9.3,15.7c0,7.2,4.6-6.1,11.8-6.1c2.5,0,5.9,0.7,9.2,1.2c0,0,7.1,6.4,9.6,15.5
                      c-0.3,0.6-0.4,1.3-0.4,2c0,2.7,2.2,5,5,5c0.1,0,0.2,0,0.3,0c0.1,0,0.2,0,0.3,0c2.7,0,5-2.2,5-5c0-0.7-0.2-1.4-0.4-2
                      c2.5-9.1,9.6-15.5,9.6-15.5c3.3-0.5,6.7-1.2,9.2-1.2c7.2,0,11.8,13.2,11.8,6.1C77.6,25.5,69.9,14.9,68.3,12.7z"/>
                    <path class="st1" d="M63.9,21.6c-10.4,0-19,7.8-20.3,17.9c-0.4-0.3-0.9-0.4-1.4-0.4c-0.5,0-1,0.2-1.4,0.4
                      c-1.3-10.1-9.9-17.9-20.3-17.9C9.2,21.6,0,30.8,0,42.1s9.2,20.4,20.4,20.4c10.5,0,19.2-8,20.3-18.2c0.4,0.2,0.9,0.4,1.4,0.4
                      s1-0.1,1.4-0.4c1.1,10.2,9.8,18.2,20.3,18.2c11.3,0,20.4-9.2,20.4-20.4S75.1,21.6,63.9,21.6z M20.4,55.8c-7.5,0-13.7-6.1-13.7-13.7
                      s6.1-13.7,13.7-13.7s13.7,6.1,13.7,13.7S28,55.8,20.4,55.8z M63.9,55.8c-7.5,0-13.7-6.1-13.7-13.7s6.1-13.7,13.7-13.7
                      s13.7,6.1,13.7,13.7S71.4,55.8,63.9,55.8z"/>
                  </svg>
                  VISIBILITY
                </button>
                <button [class.active]="type === 'variety'" class="shadow easing segment-button btn_variety" title="" (click)="type = 'variety'; view = 'beveragecooler'; key='lunch'" >
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-245.2 381 39.7 32" style="enable-background:new -245.2 381 39.7 32;" xml:space="preserve">
                  <path class="st0" d="M-215.9,383.1c0-2.1-7.9-2.1-8.3-2.1c-0.4,0-8.3,0.1-8.3,2.1c0,0.4,0.3,0.7,0.8,1l1.6,23.7
                    c0,0.8,2.6,1.5,5.9,1.5c3.3,0,5.9-0.7,5.9-1.5l1.7-23.7C-216.1,383.8-215.9,383.5-215.9,383.1z M-224.2,381.9c4.5,0,7.1,0.8,7.3,1.2
                    c-0.3,0.5-2.9,1.2-7.3,1.2c-4.5,0-7.1-0.8-7.3-1.2C-231.3,382.7-228.7,381.9-224.2,381.9z"/>
                  <path class="st1" d="M-245.3,389c0,0,6.4-0.5,9.1-0.7c2.7-0.3,7.8-1,7.8-1v1.7l-1.1,3.8c0,0,0.8,0.7,0.8,1.4c0.1,0.7,1,10.5,1,10.5
                    l-0.4,1.6c0,0,1.2,0.9,1.5,2c0.3,1.2,0.5,3,0.5,3l-16.7,1.8c0,0-0.2-2.9,0-3.7c0.2-0.8,0.7-2.1,0.7-2.1s-0.4-0.3-0.6-1.4
                    c-0.2-1.2-0.3-6.6-0.6-7.5c-0.3-0.8-0.4-2.3-0.3-2.7c0.1-0.4,0.1-1.6,0.2-1.6C-243,394.1-244.9,391.5-245.3,389z"/>
                  <path class="st1" d="M-205.5,392.4c0.3-1.7-0.7-4.3-2.2-5l0.2-1c0.3,0,0.5-0.1,0.5-0.1l0.1-2.3c0.1-0.2-0.8-0.4-1.8-0.6
                    c-1-0.2-1.9-0.2-1.9,0l-0.7,2.3c0,0.1,0.2,0.2,0.6,0.3l-0.2,0.9c-1.8,0.2-3.5,2.5-3.7,4.2l-0.9,6.1c-0.1,0.9,0.1,1.7,0.6,2.5
                    c-0.3,0.7-0.6,1.4-0.7,2.2c-0.1,0.8-0.1,1.6,0,2.3c-0.7,0.7-1.2,1.6-1.3,2.5l-0.1,0.8c-0.1,0.9,0.3,1.7,0.8,2.3
                    c0.4,0.6,0.5,1,1.3,1.2c0,0,0.8,0.1,1.3-0.2c0.5-0.4,0.6-0.5,1-0.4c0.4,0.1,0.6,0.3,1,0.8c0.4,0.5,1.2,0.5,1.2,0.5
                    c0.7-0.1,1-0.5,1.5-0.9c0.6-0.5,1.1-1,1.2-1.8l0.1-0.8c0.1-0.9-0.1-1.8-0.4-2.6c0.4-0.7,0.6-1.5,0.7-2.3c0.1-0.9,0.1-1.7,0-2.4
                    c0.6-0.6,1-1.3,1.1-2.1L-205.5,392.4z"/>
                  </svg>
                  VARIETY
                </button>
            </ion-col>
          </ion-row>

          <ion-row>
                <div  [class.environment-view-cafeteria-lunch-value]="type === 'value'" [class.environment-view-cafeteria-lunch-visibility]="type === 'visibility'" [class.environment-view-cafeteria-lunch-variety]="type === 'variety'" class="shadow easing">
                  <div [class.imgHolder-cafeteria-lunch-value]="type === 'value'" [class.imgHolder-cafeteria-lunch-visibility]="type === 'visibility'" [class.imgHolder-cafeteria-lunch-variety]="type === 'variety'" class="easing" >
                    <div [class.cafeteria-lunch-value]="type === 'value'" [class.cafeteria-lunch-visibility]="type === 'visibility'" [class.cafeteria-lunch-variety]="type === 'variety'" class="easing" >
                      <img src="assets/img/Cafeteria_Lunch/Cafeteria_Lunch.png" />

                      <div *ngIf="view === 'beveragecooler'" style="z-index:1;"><img [class.fade-in]="view === 'beveragecooler'" onload="this.style.opacity='1';" src="assets/img/Cafeteria_Lunch/Cafeteria_Lunch_Variety_beveragecooler.png" /></div>
                      <div *ngIf="view === 'fritosnackrack'" style="z-index:1;"><img [class.fade-in]="view === 'fritosnackrack'" onload="this.style.opacity='1';" src="assets/img/Cafeteria_Lunch/Cafeteria_Lunch_Variety fritosnackrack.png" /></div>
                      <div *ngIf="view === 'galvanizedtub'" style="z-index:1;"><img [class.fade-in]="view === 'galvanizedtub'" onload="this.style.opacity='1';" src="assets/img/Cafeteria_Lunch/Cafeteria_Lunch_Variety_galvanizedtub.png" /></div>

                      <div *ngIf="view === 'snackracktopper'" style="z-index:1;"><img [class.fade-in]="view === 'snackracktopper'" onload="this.style.opacity='1';" src="assets/img/Cafeteria_Lunch/Cafeteria_Lunch_Value_snackracktopper.png" /></div>
                      <div *ngIf="view === 'innovationwindow'" style="z-index:1;"><img [class.fade-in]="view === 'innovationwindow'" onload="this.style.opacity='1';" src="assets/img/Cafeteria_Lunch/Cafeteria_Lunch_Value_innovationwindow.png" /></div>
                      <div *ngIf="view === 'marketingprogram'" style="z-index:1;"><img [class.fade-in]="view === 'marketingprogram'" onload="this.style.opacity='1';" src="assets/img/Cafeteria_Lunch/Cafeteria_Lunch_Value_marketingprogram.png" /></div>
                      <div *ngIf="view === 'staffsuggestion'" style="z-index:1;"><img [class.fade-in]="view === 'staffsuggestion'" onload="this.style.opacity='1';" src="assets/img/Cafeteria_Lunch/Cafeteria_Lunch_Value_staffsuggestion.png" /></div>
                      <div *ngIf="view === 'staffsuggestion-station'" style="z-index:1;"><img [class.fade-in]="view === 'staffsuggestion-station'" onload="this.style.opacity='1';" src="assets/img/Cafeteria_Lunch/Cafeteria_Lunch_Value_staffsuggestion.png" /></div>

                      <div *ngIf="view === 'galvanizedtubcling'" style="z-index:1;"><img [class.fade-in]="view === 'galvanizedtubcling'" onload="this.style.opacity='1';" src="assets/img/Cafeteria_Lunch/Cafeteria_Lunch_Visibility_galvanizedtubcling.png" /></div>
                      <div *ngIf="view === 'menuboards'" style="z-index:1;"><img [class.fade-in]="view === 'menuboards'" onload="this.style.opacity='1';" src="assets/img/Cafeteria_Lunch/Cafeteria_Lunch_Visibility_menuboards.png" /></div>
                      <div *ngIf="view === 'perfectparings'" style="z-index:1;"><img [class.fade-in]="view === 'perfectparings'" onload="this.style.opacity='1';" src="assets/img/Cafeteria_Lunch/Cafeteria_Lunch_Visibility_perfectparings.png" /></div>
                      <div *ngIf="view === 'perfectparings-station'" style="z-index:1;"><img [class.fade-in]="view === 'perfectparings'" onload="this.style.opacity='1';" src="assets/img/Cafeteria_Lunch/Cafeteria_Lunch_Visibility_perfectparings.png" /></div>

                    </div>
                  </div>
                  <div class="title-box">CAFETERIA LUNCH</div>
                </div>
                <div  [class.environment-view-cafeteria-station-value]="type === 'value'" [class.environment-view-cafeteria-station-visibility]="type === 'visibility'" [class.environment-view-cafeteria-station-variety]="type === 'variety'" class="shadow easing">
                  <div [class.imgHolder-cafeteria-station-value]="type === 'value'" [class.imgHolder-cafeteria-station-visibility]="type === 'visibility'" [class.imgHolder-cafeteria-station-variety]="type === 'variety'" class="easing" >
                    <div [class.cafeteria-station-value]="type === 'value'" [class.cafeteria-station-visibility]="type === 'visibility'" [class.cafeteria-station-variety]="type === 'variety'" class="easing" >
                      <img src="assets/img/Cafeteria_Lunch/Cafeteria_Station.png" />

                      <div *ngIf="view === 'countertopsnackrack'" style="z-index:1;"><img [class.fade-in]="view === 'countertopsnackrack'" onload="this.style.opacity='1';" src="assets/img/Cafeteria_Lunch/Cafeteria_Station_Variety_countertopsnackrack.png" /></div>
                      <div *ngIf="view === 'perfectparings'" style="z-index:1;"><img [class.fade-in]="view === 'perfectparings'" onload="this.style.opacity='1';" src="assets/img/Cafeteria_Lunch/Cafeteria_Station_Visibility_perfectparings.png" /></div>
                      <div *ngIf="view === 'perfectparings-station'" style="z-index:1;"><img [class.fade-in]="view === 'perfectparings'" onload="this.style.opacity='1';" src="assets/img/Cafeteria_Lunch/Cafeteria_Station_Visibility_perfectparings.png" /></div>
                      <div *ngIf="view === 'staffsuggestion'" style="z-index:1;"><img [class.fade-in]="view === 'staffsuggestion'" onload="this.style.opacity='1';" src="assets/img/Cafeteria_Lunch/Cafeteria_Station_Value_staffsuggestion.png" /></div>
                      <div *ngIf="view === 'staffsuggestion-station'" style="z-index:1;"><img [class.fade-in]="view === 'staffsuggestion-station'" onload="this.style.opacity='1';" src="assets/img/Cafeteria_Lunch/Cafeteria_Station_Value_staffsuggestion.png" /></div>
                      <div *ngIf="view === 'innovationshowcase'" style="z-index:1;"><img [class.fade-in]="view === 'innovationshowcase'" onload="this.style.opacity='1';" src="assets/img/Cafeteria_Lunch/Cafeteria_Station_Value_innovationshowcase.png" /></div>

                    </div>
                  </div>
                  <div class="title-box">CASH AREA</div>
                </div>



            <div [ngSwitch]="type">
              <div *ngSwitchCase="'value'">
                      <button [class.active]="view === 'innovationwindow'" class="btn-bullseye innovationwindow" title=""  (click)="view = 'innovationwindow'; key='lunch'"><svg><circle class="st1" cx="18" cy="18" r="15.75"/><circle class="st2" cx="18" cy="18" r="6.3"/><circle class="st3" cx="18" cy="18" r="14.4"/><circle class="st4" cx="18" cy="18" r="9.5"/></svg></button>
                      <button [class.active]="view === 'marketingprogram'" class="btn-bullseye marketingprogram" title="" (click)="view = 'marketingprogram'; key='lunch'"><svg><circle class="st1" cx="18" cy="18" r="15.75"/><circle class="st2" cx="18" cy="18" r="6.3"/><circle class="st3" cx="18" cy="18" r="14.4"/><circle class="st4" cx="18" cy="18" r="9.5"/></svg></button>
                      <button [class.active]="view === 'staffsuggestion'" class="btn-bullseye staffsuggestion" title=""  (click)="view = 'staffsuggestion'; key='lunch'"><svg><circle class="st1" cx="18" cy="18" r="15.75"/><circle class="st2" cx="18" cy="18" r="6.3"/><circle class="st3" cx="18" cy="18" r="14.4"/><circle class="st4" cx="18" cy="18" r="9.5"/></svg></button>
                      <button [class.active]="view === 'staffsuggestion-station'" class="btn-bullseye staffsuggestion-station" title=""  (click)="view = 'staffsuggestion-station'; key='cash'"><svg><circle class="st1" cx="18" cy="18" r="15.75"/><circle class="st2" cx="18" cy="18" r="6.3"/><circle class="st3" cx="18" cy="18" r="14.4"/><circle class="st4" cx="18" cy="18" r="9.5"/></svg></button>
                      <button [class.active]="view === 'snackracktopper'" class="btn-bullseye snackracktopper" title="" (click)="view = 'snackracktopper'; key='lunch'"><svg><circle class="st1" cx="18" cy="18" r="15.75"/><circle class="st2" cx="18" cy="18" r="6.3"/><circle class="st3" cx="18" cy="18" r="14.4"/><circle class="st4" cx="18" cy="18" r="9.5"/></svg></button>
                      <button [class.active]="view === 'innovationshowcase'" class="btn-bullseye innovationshowcase" title=""  (click)="view = 'innovationshowcase'; key='cash'"><svg><circle class="st1" cx="18" cy="18" r="15.75"/><circle class="st2" cx="18" cy="18" r="6.3"/><circle class="st3" cx="18" cy="18" r="14.4"/><circle class="st4" cx="18" cy="18" r="9.5"/></svg></button>
              </div><!-- ngSwitchCase value -->

              <div *ngSwitchCase="'visibility'">
                      <button [class.active]="view === 'galvanizedtubcling'" class="btn-bullseye galvanizedtubcling" title="" (click)="view = 'galvanizedtubcling'; key='lunch'"><svg><circle class="st1" cx="18" cy="18" r="15.75"/><circle class="st2" cx="18" cy="18" r="6.3"/><circle class="st3" cx="18" cy="18" r="14.4"/><circle class="st4" cx="18" cy="18" r="9.5"/></svg></button>
                      <button [class.active]="view === 'menuboards'" class="btn-bullseye menuboards" title="" (click)="view = 'menuboards'; key='lunch'"><svg><circle class="st1" cx="18" cy="18" r="15.75"/><circle class="st2" cx="18" cy="18" r="6.3"/><circle class="st3" cx="18" cy="18" r="14.4"/><circle class="st4" cx="18" cy="18" r="9.5"/></svg></button>
                      <button [class.active]="view === 'perfectparings'" class="btn-bullseye perfectparings" title="" (click)="view = 'perfectparings'; key='lunch'"><svg><circle class="st1" cx="18" cy="18" r="15.75"/><circle class="st2" cx="18" cy="18" r="6.3"/><circle class="st3" cx="18" cy="18" r="14.4"/><circle class="st4" cx="18" cy="18" r="9.5"/></svg></button>
                      <button [class.active]="view === 'perfectparings-station'" class="btn-bullseye perfectparings-station" title="" (click)="view = 'perfectparings-station'; key='cash'"><svg><circle class="st1" cx="18" cy="18" r="15.75"/><circle class="st2" cx="18" cy="18" r="6.3"/><circle class="st3" cx="18" cy="18" r="14.4"/><circle class="st4" cx="18" cy="18" r="9.5"/></svg></button>
              </div><!-- ngSwitchCase visibility -->

              <div *ngSwitchCase="'variety'">
                      <button [class.active]="view === 'beveragecooler'" class="btn-bullseye beveragecooler" title=""  (click)="view = 'beveragecooler'; key='lunch'"><svg><circle class="st1" cx="18" cy="18" r="15.75"/><circle class="st2" cx="18" cy="18" r="6.3"/><circle class="st3" cx="18" cy="18" r="14.4"/><circle class="st4" cx="18" cy="18" r="9.5"/></svg></button>
                      <button [class.active]="view === 'fritosnackrack'" class="btn-bullseye fritosnackrack" title="" (click)="view = 'fritosnackrack'; key='lunch'"><svg><circle class="st1" cx="18" cy="18" r="15.75"/><circle class="st2" cx="18" cy="18" r="6.3"/><circle class="st3" cx="18" cy="18" r="14.4"/><circle class="st4" cx="18" cy="18" r="9.5"/></svg></button>
                      <button [class.active]="view === 'galvanizedtub'" class="btn-bullseye galvanizedtub" title=""  (click)="view = 'galvanizedtub'; key='lunch';"><svg><circle class="st1" cx="18" cy="18" r="15.75"/><circle class="st2" cx="18" cy="18" r="6.3"/><circle class="st3" cx="18" cy="18" r="14.4"/><circle class="st4" cx="18" cy="18" r="9.5"/></svg></button>
                      <button [class.active]="view === 'countertopsnackrack'" class="btn-bullseye countertopsnackrack" title=""  (click)="view = 'countertopsnackrack'; key='cash'"><svg><circle class="st1" cx="18" cy="18" r="15.75"/><circle class="st2" cx="18" cy="18" r="6.3"/><circle class="st3" cx="18" cy="18" r="14.4"/><circle class="st4" cx="18" cy="18" r="9.5"/></svg></button>


              </div><!-- ngSwitchCase variety -->

            </div><!-- ngSwitch type -->



          </ion-row>

          <ion-row>
            <div class="insights shadow"><!-- key facts -->
              <h2>KEY FACTS</h2>
              <div [ngSwitch]="type">
                  <ion-list *ngSwitchCase="'variety'">

                      <ol>
                          <li *ngIf="key === 'lunch'">Pursue Pockets of Growth…Flavoured CSDs growing +1%</li>
                          <li *ngIf="key === 'lunch'">Water, Isotonics, Tea & Juice Categories to grow a combined 5% over the next 5 years</li>
                          <li *ngIf="key === 'lunch'">Salty Category is significant and growing 2% YTD</li>
                          <li *ngIf="key === 'cash'">Nearly 40% of single-serve salty snack purchases are made on impulse - offer the right variety of products to maximize impulse purchases</li>
                      </ol>
                  </ion-list>

                 <ion-list *ngSwitchCase="'visibility'">
                      <ol>
                          <li *ngIf="key === 'lunch'">Menu is the single most important driver of on premise sales - 64% of consumers are more likely to make a purchase if it's on the menu boards</li>
                          <li *ngIf="key === 'lunch'">Inclusion in combos is also very influential - leverage Perfect Pairings</li>
                          <li *ngIf="key === 'cash'">Capitalize on consumer impulsivity by executing countertop bottle and Frito stand in the cash zone to suggest add-ons and maximize sales</li>
                      </ol>
                  </ion-list>

                 <ion-list *ngSwitchCase="'value'">
                      <ol>
                          <li *ngIf="key === 'lunch'">Lunch is the largest on-site foodservice daypart by traffic</li>
                          <li *ngIf="key === 'lunch'">Use combos, innovation, and marketing programs to capitalize on the busiest daypart and maximize cheque size</li>
                          <li *ngIf="key === 'cash'">Capitalize on consumer impulsivity - Executing around the cash area  can maximize combo and innovation sales</li>


                      </ol>
                  </ion-list>

              </div> <!--[ngSwitch]= type for key facts -->

            </div><!-- key insights -->

            <div class="shadow slider-section" style="width: 498px; margin-left: 16px;"><!-- image slider section -->
                  <div [ngSwitch]="view">
<!-- Variety -->
                      <div *ngSwitchCase="'beveragecooler'">
                        <div [class.fade-in]="view === 'beveragecooler'" onload="this.style.opacity='1';" style="position:relative; float: left; width: 200px; height: 234px;">
                          <ion-slides pager="true">
                            <ion-slide><img src="assets/img/Slides/7UP 591 mL Dry Straight ENG.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/ARTO LIFE WTR 1L MOMO Bottle Dry Straight BIL.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/Aquafina 591 mL Eminence Bottle Dry Straight Bilingual (1).png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/Crush Orange 591mL Dry 3D Bilingual.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/Dr Pepper 591mL Dry Straight BIlingual.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/Mountain Dew 591mL DRY Straight Bilingual_MTN DEW_NEW__BOTTLE_Rev3.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/Schweppes Ginger Ale 591 mL Dry Straight Bilingual.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/7 Up Lemon Lemon Original 355mL Dry ENG.png" class="slide-image" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/Montellier Natural Spring Water 500mL Straight Spritzed ENG.png" class="slide-image"></ion-slide>
                          </ion-slides>
                        </div>
                        <div class="slider-section-copy">
                          <h2>Beverage Cooler</h2>
                          <ion-slides pager="true">
                            <ion-slide>
                                <ul>
                                  <li>Segment-specific POGs make sure the right mix of products are offered to satisfy the consumer</li>
                                  <li>Fully executed POGs will help drive sales while avoiding out-of-stocks</li>
                                  <li>Comprehensive POGs by segment and cooler type are available on Advantage</li>
                                </ul>
                            </ion-slide>
                            <ion-slide>
                                <ul>
                                  <li>PepsiCo has an Advantage Flavours Portfolio to Drive Growth</li>
                                </ul>
                            </ion-slide>
                            <ion-slide>
                                <ul>
                                  <li>Water, Tea, Juice &Isotonic to grow a combined 5% over the next 5 years</li>
                                  <li>Tea expected to Grow 3x more than LRB - Close Distribution Gaps on Pure Leaf</li>
                                </ul>
                            </ion-slide>
                          </ion-slides>
                        </div>
                      </div><!-- *ngSwitchCase beveragecooler -->

                      <div *ngSwitchCase="'fritosnackrack'">
                        <div [class.fade-in]="view === 'fritosnackrack'" onload="this.style.opacity='1';" style="position:relative; float: left; width: 200px; height: 234px;">
                          <ion-slides pager="true">
                            <ion-slide><img src="assets/img/Slides/MissVickies_PureLeafLemon_Pairing Right.png"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/PepsiCO_MtnDew_Doritos_Right.png"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/Pepsico_LaysClassic_Right.png"></ion-slide>
                          </ion-slides>
                        </div>
                        <div class="slider-section-copy">
                          <h2>Frito Snack Rack</h2>
                          <ion-slides pager="true">
                            <ion-slide>
                                <ul>
                                  <li>Use the appropriate racking to execute our regional POGs, which offer the right set of snacks to the consumer to drive sales while avoiding out-of-stocks</li>
                                  <li>Racks can be ordered through the MSO Portal and full POGs are available on Advantage</li>
                                </ul>
                            </ion-slide>
                            <ion-slide>
                                <ul>
                                  <li>Big Grab is growing 5x faster than category.  3 Yr CAGR +113%</li>
                                  <li>Big Grab delivers more penny project $ for retailers</li>
                                  <li>Use 1ft racking to execute Big Grab near beverage cooler if vending machine not available</li>
                                </ul>
                            </ion-slide>
                          </ion-slides>
                        </div>
                      </div><!-- *ngSwitchCase fritosnackrack -->

                      <div *ngSwitchCase="'galvanizedtub'">
                        <div [class.fade-in]="view === 'galvanizedtub'" onload="this.style.opacity='1';" style="position:relative; float: left; width: 200px; height: 234px;">
                          <ion-slides pager="true">
                            <ion-slide><img src="assets/img/Slides/ONE Coconut Water 500 mL Pure 3D Dry Straight BIL.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/Tropicana Pure Premium 355 mL Orange No Pulp  BIL.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/16835 PepsiCo Naked Relaunch Mighty Mango 450mL 3D EN (2).png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/Montellier Natural Spring Water 500mL Straight Spritzed ENG.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/Naked Strawberry Banana 450 mL Dry Straight ENG.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/Pure Leaf_Lemon 547 mL Straight Spritzed ENG.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/Starbucks Mocha Frappucino 281 mL ENG.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/CAN_GrabnGo_Guacamole.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/CAN_HummusToGo_RedPepper.png" class="slide-image"></ion-slide>
                          </ion-slides>
                        </div>
                        <div class="slider-section-copy">
                          <h2>Galvanized Tub</h2>
                          <ion-slides pager="true">
                            <ion-slide>
                                <ul>
                                  <li>Keep chilled beverages at arms' reach in high traffic areas to drive incremental impulse sales</li>
                                  <li>Galvanized Tubs can be ordered through the MSO Portal</li>
                                </ul>
                            </ion-slide>
                            <ion-slide>
                                <ul>
                                  <li>Dip Category growing +12%</li>
                                  <li>Expand into Healthy Snacking with Sabra Guacamole and Sabra Hummus</li>
                                </ul>
                            </ion-slide>
                          </ion-slides>
                        </div>
                      </div><!-- *ngSwitchCase galvanizedtub -->

                      <div *ngSwitchCase="'countertopsnackrack'">
                        <div [class.fade-in]="view === 'countertopsnackrack'" onload="this.style.opacity='1';" style="position:relative; float: left; width: 200px; height: 234px;">
                          <ion-slides pager="true">
                            <ion-slide><img src="assets/img/Slides/30014186_30014187_Cheetos_Crunchy__Big Grab_70g_DOM_IMP.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/30014189_SunChips_Harvest Cheddar_Big Grab_60g.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/70g_Dor_Nacho.png" class="slide-image"></ion-slide>
                          </ion-slides>
                        </div>
                        <div class="slider-section-copy">
                            <h2>Countertop Snack Rack</h2>
                            <ul>
                              <li>Capitalize on impulsivity by using the Countertop Snack Racks to capture sales as consumers wait to cash out</li>
                              <li>Countertop Snack Racks can be ordered through the MSO portal</li>
                            </ul>
                        </div>
                      </div><!-- *ngSwitchCase countertopsnackrack -->

<!-- Visibility -->
                      <div *ngSwitchCase="'perfectparings'" >
                        <div [class.fade-in]="view === 'perfectparings'" onload="this.style.opacity='1';" style="position:relative; float: left; width: 200px; height: 234px;">
                          <ion-slides pager="true">
                            <ion-slide><img src="assets/img/Slides/MissVickies_PureLeafLemon_Pairing Right.png" class="slide-image shadow"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/PepsiCO_MtnDew_Doritos_Right.png" class="slide-image shadow"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/Pepsico_LaysClassic_Right.png" class="slide-image shadow"></ion-slide>
                          </ion-slides>
                        </div>
                        <div class="slider-section-copy">
                          <h2>Perfect Parings</h2>
                          <ul>
                            <li>Leverage portfolio variety to pair the right beverages with the right food on your menu to maximize reach</li>
                            <li>Leverage +100 new beverage & food images available on PepsiCo Art Gallery</li>
                            <li>Acrylic stands can be ordered the  MSO Portal</li>
                          </ul>
                        </div>
                      </div> <!-- *ngSwitchCase="'perfectparings -->
                      <div *ngSwitchCase="'perfectparings-station'" >
                        <div [class.fade-in]="view === 'perfectparings'" onload="this.style.opacity='1';" style="position:relative; float: left; width: 200px; height: 234px;">
                          <ion-slides pager="true">
                            <ion-slide><img src="assets/img/Slides/MissVickies_PureLeafLemon_Pairing Right.png" class="slide-image shadow"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/PepsiCO_MtnDew_Doritos_Right.png" class="slide-image shadow"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/Pepsico_LaysClassic_Right.png" class="slide-image shadow"></ion-slide>
                          </ion-slides>
                        </div>
                        <div class="slider-section-copy">
                          <h2>Perfect Parings</h2>
                          <ul>
                            <li>Leverage portfolio variety to pair the right beverages with the right food on your menu to maximize reach</li>
                            <li>Leverage +100 new beverage & food images available on PepsiCo Art Gallery</li>
                            <li>Acrylic stands can be ordered the  MSO Portal</li>
                          </ul>
                        </div>
                      </div> <!-- *ngSwitchCase="'perfectparings-station -->

                      <div *ngSwitchCase="'menuboards'">
                        <div [class.fade-in]="view === 'menuboards'" onload="this.style.opacity='1';" style="position:relative; float: left; width: 200px; height: 234px;">
                          <ion-slides pager="true">
                            <ion-slide><img src="assets/img/Slides/PepsiCo Trop TPP Original No Pulp 355mL Strt W_Glass Straw.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/Pepsico Logo Glass 7Up_02.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/Pepsico Logo Glass BriskIceTea_02.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/Pepsico Logo Glass BriskLemonade_02.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/Pepsico Logo Glass Diet Pepsi_02.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/Pepsico Logo Glass Dr_Pepper_02.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/Pepsico Logo Glass MountainDew_02.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/Pepsico Logo Glass OrangeCrush_02.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/Pepsico Logo Glass Pepsi_02.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/Pepsico Logo Glass Schwepps_02.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/PepsiCo 7Up Lemon Lemon Original 355 mL W_Glass EN.png" class="slide-image"></ion-slide>
                          </ion-slides>
                        </div>
                        <div class="slider-section-copy">
                              <h2>Menu Boards</h2>
                              <ul>
                                <li>As the single most important driver of sales at QSRs, leverage new photography with refreshment cues to drive appetite appeal and incidence on beverages</li>
                                <li>+100 new beverage & foods images available on PepsiCo Art Gallery</li>
                              </ul>
                            </div>
                        </div><!-- *ngSwitchCase menuboards -->

                      <div *ngSwitchCase="'galvanizedtubcling'">
                        <div [class.fade-in]="view === 'galvanizedtubcling'" onload="this.style.opacity='1';" style="position:relative; float: left; width: 200px; height: 234px;">
                          <ion-slides pager="true">
                            <ion-slide><img src="assets/img/Slides/ONE Coconut Water 500 mL Pure 3D Dry Straight BIL.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/Tropicana Pure Premium 355 mL Orange No Pulp  BIL.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/16835 PepsiCo Naked Relaunch Mighty Mango 450mL 3D EN (2).png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/Montellier Natural Spring Water 500mL Straight Spritzed ENG.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/Naked Strawberry Banana 450 mL Dry Straight ENG.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/Pure Leaf_Lemon 547 mL Straight Spritzed ENG.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/Starbucks Mocha Frappucino 281 mL ENG.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/CAN_GrabnGo_Guacamole.png" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/CAN_HummusToGo_RedPepper.png" class="slide-image"></ion-slide>
                          </ion-slides>
                        </div>
                          <div class="slider-section-copy">
                            <h2>Galvanized Tub Cling</h2>
                            <ul>
                              <li>Execute the right Branded Cling on the Galvanized Tub to catch consumer attention and highlight featured Lunch products</li>
                              <li>A range of Branded Clings come with the Galvanized Tubs when they are ordered through the MSO Portal</li>
                            </ul>
                          </div>
                      </div><!-- *ngSwitchCase galvanizedtubcling -->

<!-- Value -->
                      <div *ngSwitchCase="'innovationwindow'">
                          <div class="slider-section-img"><img [class.fade-in]="view === 'innovationwindow'" onload="this.style.opacity='1';" src="assets/img/Slides/ENG Bev Cling.png" class="slide-image"></div>
                          <div class="slider-section-copy">
                            <h2>Innovation Window</h2>
                            <ul>
                              <li>The role of innovation is to gain incremental sales - use the Innovation Window cling to highlight new SKUs, capture impulse purchases, and drive trial</li>
                              <li>Innovation Window clings can be ordered through the MSO Portal</li>
                            </ul>
                          </div>
                      </div><!-- *ngSwitchCase innovationwindow -->

                      <div *ngSwitchCase="'marketingprogram'">
                        <div [class.fade-in]="view === 'marketingprogram'" onload="this.style.opacity='1';" style="position:relative; float: left; width: 200px; height: 234px;">
                          <ion-slides pager="true">
                            <ion-slide><img src="assets/img/Slides/Marketing Window - Sports A EN.jpg" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/Marketing Window - Sports B EN.jpg" class="slide-image"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/Marketing Window - Sports C EN.jpg" class="slide-image"></ion-slide>
                          </ion-slides>
                        </div>
                          <div class="slider-section-copy">
                            <h2>Marketing Program</h2>
                            <ul>
                              <li>Many Workplace and C&U locations take part in seasonal or year-round marketing program which generate excitement and drive beverage and snack sales through promotions</li>
                              <li>Create eye-catching tools using Customer Declining Balances</li>
                            </ul>
                          </div>
                      </div><!-- *ngSwitchCase innovationwindow -->

                      <div *ngSwitchCase="'snackracktopper'">
                        <div [class.fade-in]="view === 'snackracktopper'" onload="this.style.opacity='1';" style="position:relative; float: left; width: 200px; height: 234px;">
                          <ion-slides pager="true">
                            <ion-slide><img src="assets/img/Slides/MissVickies_PureLeafLemon_Pairing Right.png"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/PepsiCO_MtnDew_Doritos_Right.png"></ion-slide>
                            <ion-slide><img src="assets/img/Slides/Pepsico_LaysClassic_Right.png"></ion-slide>
                          </ion-slides>
                        </div>
                        <div class="slider-section-copy">
                          <h2>Frito Snack Rack Topper - News</h2>
                          <ul>
                            <li>Use Rack Header Cards to highlight marketing promotions to drive sales</li>
                            <li>Rack Headers can be ordered through the MSO portal</li>
                          </ul>
                        </div>
                      </div><!-- *ngSwitchCase snackracktopper -->

                      <div *ngSwitchCase="'staffsuggestion'">
                          <div class="slider-section-img"><img [class.fade-in]="view === 'staffsuggestion'" onload="this.style.opacity='1';" src="assets/img/Slides/Staff Suggestion Button EN.jpg" class="slide-image"></div>
                          <div class="slider-section-copy">
                            <h2>Staff Suggestion</h2>
                            <ul>
                              <li>38% of consumers base their orders on their server's suggestions</li>
                              <li>Develop programming and materials for staff to help ensure all consumers add a beverage and snack to their meals</li>
                            </ul>
                          </div>
                      </div><!-- *ngSwitchCase staffsuggestion -->

                      <div *ngSwitchCase="'staffsuggestion-station'">
                          <div class="slider-section-img"><img [class.fade-in]="view === 'staffsuggestion-station'" onload="this.style.opacity='1';" src="assets/img/Slides/Staff Suggestion Button EN.jpg" class="slide-image"></div>
                          <div class="slider-section-copy">
                            <h2>Staff Suggestion</h2>
                            <ul>
                              <li>Staff members are in a strong position of influence when consumers are placing their orders and staff suggestions are highly valued</li>
                              <li>Use declining balances to develop programming and materials for staff to suggest products at the point of order</li>
                            </ul>
                          </div>
                      </div><!-- *ngSwitchCase staffsuggestion-station -->

                      <div *ngSwitchCase="'innovationshowcase'">
                          <div class="slider-section-img"><img [class.fade-in]="view === 'innovationwindow'" onload="this.style.opacity='1';" src="assets/img/Slides/FS18018_P3_MSV_Sweet_Southern_BBQ_Render_ENG_P1.png" class="slide-image"></div>
                          <div class="slider-section-copy">
                            <h2>Innovation Showcase</h2>
                            <ul>
                              <li>The key to incremental sales through innovation is trial</li>
                              <li>Displays in high-traffic areas by the Cash zone can generate awareness around new product launches and drive trial for both on-site and takeout consumers</li>
                              <li>Innovation Weekenders and Racking can be ordered through the MSO Portal</li>
                            </ul>
                          </div>
                      </div><!-- *ngSwitchCase innovationwindow -->

                  </div> <!-- [ngSwitch]="view" -->
            </div>
          </ion-row>
        </div>

    </ion-row>
</ion-grid>
